.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1572em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -12.9em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -58.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -105.9em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -155.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -202.9em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -252.2em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -258.6em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.cancel:before {
      background-position: 0em -303.8em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -351.4em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -353.7em;
      width: 3.1001000000000003em;
      height: 2.5217em;
  }




  .icon.cart-empty:before {
      background-position: 0em -356.3em;
      width: 1.47em;
      height: 1.0781em;
  }




  .icon.check-round:before {
      background-position: 0em -357.4em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.checked:before {
      background-position: 0em -406.5em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.chef:before {
      background-position: 0em -409.1em;
      width: 2.3844000000000003em;
      height: 2.4em;
  }




  .icon.clip:before {
      background-position: 0em -411.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.clock:before {
      background-position: 0em -462.7em;
      width: 2em;
      height: 2em;
  }




  .icon.close:before {
      background-position: 0em -464.7em;
      width: 1.8em;
      height: 1.8106000000000002em;
  }




  .icon.close-fat:before {
      background-position: 0em -466.6em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.delete:before {
      background-position: 0em -468.8em;
      width: 2em;
      height: 2.2em;
  }




  .icon.download:before {
      background-position: 0em -471em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.edit:before {
      background-position: 0em -518.2em;
      width: 2.2em;
      height: 2.2em;
  }




  .icon.exit:before {
      background-position: 0em -520.4em;
      width: 2.2499em;
      height: 2.3em;
  }




  .icon.food:before {
      background-position: 0em -522.7em;
      width: 2.5em;
      height: 2.4887em;
  }




  .icon.heart:before {
      background-position: 0em -525.2em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -572.4em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -621.1em;
      width: 33em;
      height: 33em;
  }




  .icon.interface:before {
      background-position: 0em -654.1em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -703.2em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.location:before {
      background-position: 0em -712.8em;
      width: 1.8393000000000002em;
      height: 2.3039em;
  }




  .icon.login:before {
      background-position: 0em -715.2em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.mail:before {
      background-position: 0em -718.5em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -766.9em;
      width: 1.7601em;
      height: 1.56em;
  }




  .icon.minus:before {
      background-position: 0em -768.5em;
      width: 46.9em;
      height: 46.9em;
  }




  .icon.out:before {
      background-position: 0em -815.4em;
      width: 1.7995999999999999em;
      height: 1.7995999999999999em;
  }




  .icon.parking:before {
      background-position: 0em -817.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.phone:before {
      background-position: 0em -868.4em;
      width: 2.3893em;
      height: 2.4em;
  }




  .icon.phone-call:before {
      background-position: 0em -870.8em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.play:before {
      background-position: 0em -918.2em;
      width: 2.5826000000000002em;
      height: 2.8241em;
  }




  .icon.plus:before {
      background-position: 0em -921.1em;
      width: 44.8em;
      height: 44.8em;
  }




  .icon.profile:before {
      background-position: 0em -965.9em;
      width: 5.5em;
      height: 5.5em;
  }




  .icon.repeat:before {
      background-position: 0em -971.4em;
      width: 2.8em;
      height: 2.4326em;
  }




  .icon.search:before {
      background-position: 0em -973.9em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.share:before {
      background-position: 0em -976.2em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.shopping-cart:before {
      background-position: 0em -1024.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.smile-good:before {
      background-position: 0em -1075.6em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1079.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-in:before {
      background-position: 0em -1131.1em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1174.2em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1218.1em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -1227.7em;
      width: 30em;
      height: 30em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1257.7em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1298.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1350em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1401.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.star:before {
      background-position: 0em -1452.4em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.svg-6:before {
      background-position: 0em -1501.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.tick--color:before {
      background-position: 0em -1503.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.unlike:before {
      background-position: 0em -1555.1em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.upload:before {
      background-position: 0em -1564.7em;
      width: 2.6665em;
      height: 2.6665em;
  }




  .icon.user:before {
      background-position: 0em -1567.4em;
      width: 2.1614em;
      height: 2.3409em;
  }




  .icon.wi-fi:before {
      background-position: 0em -1569.8em;
      width: 2.9105em;
      height: 2.2em;
  }





