// === Curent color ===
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

$mark = #4fb046
$dark = #2a2a2a
$carrot = #fd7e62
$gray = #b4b4b4
$gray-light = #eeeeee
$snow = #f8f8f8
$red = #ff3e3e



$main-text-color = black
$border-color = $gray-light

$link-color = black
$link-color-visited = gray
$link-color-hover = black
