@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.page
	f()
	fl()
	min-height 100vh

.page--dark
	.content
		background: #f8f8f8
	.header-wrap
		background: #393939
		color white
		a
			color white
			&:hover
				color $mark
	.header-nav__el--red
		&:hover
			color $carrot!important
	.header-top-wrap
		background: #2a2a2a
	.footer-wrap
		color white
		a
			color white
			&:hover
				color $mark
	.footer-top-wrap
		background: #393939
	.footer-main-wrap
		background: #2a2a2a
	.shrink
		box-shadow none

.page--gray
	.content
		background: #f8f8f8
	.footer-top-wrap
		background: white
.content
	+below(768px)
		padding:30px 0
	flex-grow 1
	padding: 50px 0 100px 0
.content--mid
	flex(mid)



// animate top menu
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0)
		visibility: visible;
	to
		transform: translate3d(0, 0, 0)

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 20
	bsh()
	.header-top-wrap
		display none
	.header
		+above(1281px)
			padding: 10px 0
// animate top menu === end

// error
.page-error
	flex(mid)
	fl()
	height: 100%
.page-error__title
	@extend .type--xl
	margin-bottom: 30px
	font-weight: 700
.page-error__img
	margin-bottom: 30px
.page-error__text
	@extend .type--md
	color $gray
	margin-bottom: 30px
.page-error__get
	@extend .btn--md
	@extend .btn--mark
// error === end

// modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	transform scale(.9) translateZ(0) translate3d(0, 0, 0)
	will-change: transform, opacity;
	backface-visibility: hidden
	position: absolute
	opacity 0
	transition transform .6s, opacity .8s
	width 420px
	left -9999px
	top -9999px
	.order__row
		margin-bottom: 20px
		border-bottom 0

.modal--xl
	+below(960px)
		width: 100%
	width 860px

.modal-content
	+below(640px)
		height: 100%
		padding: 20px
		overflow-y scroll
		width: 95%!important
		margin: 20px auto
	background: white
	position: relative
	padding: 40px 45px
	br(40px)
.modal-content--dark
	background: black
	.modal-title
		color white
	.modal-text
		color white
.modal-img
	margin: 0 auto 20px auto
	flex(mid)

.modal__show
	max-height 100%
	opacity 1
	transform scale(1) translateZ(0) translate3d(0, 0, 0)
	position: relative
	z-index 1000
	left initial
	top initial
	transition transform .6s, opacity .8s
	will-change: transform, opacity

.modal-close
	position absolute
	size 60px
	top 0
	right: 0
	flex(mid)
	cp()
	tr()
	background-color $gray-light
	border-radius 0 25px 0 60px
	z-index 30
	&:hover
		background: $gray
	.icon
		size 12px
		margin-top: -5px
		margin-right: -10px


.modal-hide-animation
	transform scale(.9)
	opacity 0
	transition transform .6s, opacity .8s
.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	text-align: center
	@extend .type--lg
	font-weight: 700

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto
	@extend .type--sm
	//width: 80%
	line-height: 1.6


.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%

.modal-link
	color $brown
	border-bottom 1px dashed $brown
	display table
	margin: 20px auto 0 auto
	cp()
.modal-link--auth
	margin: 0
	margin-top: -10px
	margin-bottom: 20px
	cp()

// modal === end

// cookie
.cookie
	position: fixed
	bottom 20px
	left 0
	width: 100%
	transform translateY(10px)
	opacity: 0
	z-index -1
	tr()
.cookie--active
	z-index 20
	opacity: 1
	transform translateY(0)
.cookie-wrap
	bsh()
	padding: 15px 20px
	br(20px)
	z-index 10
	background: white
	f()
	justify-content: space-between
	.icon
		&:hover
			fill black
		tr()
		size 14px
		margin-left: 10px
		fill $gray
		cp()
.cookie-text
	width calc(100% - 30px)
	font-size: 12px
// cookie === end

// drop
.dropdown
	width: 100%
	display inline-block
	br(35px)
	tr()
	position relative
	border 1px solid $border-color
	outline none!important
	padding: 5px 30px
	height: 60px
	f()
	align-items center
.dropdown-current
	cursor pointer
	display block
	padding 10px
	padding-right 35px
	font-weight: 700
	.icon
		position absolute
		top calc(50% - 6px)
		right 25px
		size 12px
		tr()

.dropdown.active
	border-radius 35px 35px 0 0
	.icon
		transform rotate(180deg)

.dropdown-menu
	position absolute
	background-color #fff
	width calc(100% + 2px)
	left -1px
	top 100%
	margin-top -1px
	border-radius 0 0 10px 10px
	overflow hidden
	display none
	max-height 200px
	overflow-y auto
	z-index 10
	border 1px solid $border-color
.dropdown-menu__el
	padding 15px 35px
	cp()
	tr()
	border-bottom 1px solid $border-color
	//background: #f9f9f9
	&:last-child
		border 0
	&:hover
		background: $snow
		color black
// drop === end


.add
	flex(mid)
	border 1px solid $border-color
	round()
	.icon
		size 10px

.add--sm
	size 24px
	.icon
		size 10px

// slick
// === убираем выделения активности при клик ===
.slick-slide
	&:hover
		outline none!important
	&:active
		outline none!important
	&:focus
		outline none!important
// === убираем выделения активности при клике end ===
 
// === for custom navigation === 
.slider-wrap
	position relative
 
//Навигация снаружи
.slider-wrap--simple
	.slider-control
		round()
		flex(mid)
		tr(all)
		size 40px
		background: white
		position: absolute
		top 50%
		margin-top: -20px
		box-shadow 0px 2px 10px #c5c2c2
		z-index 10
		cp()
		&:hover
			background: $red
			.icon
				fill white
		.icon
			size 14px
	.slider-control--left
		left -20px
	.slider-control--right
		right -20px
//Навигация снаружи end
 
//Навигация внутри
.slider-wrap--inarrow
	.slider-control
		+below(678px)
			display none
		flex(mid)
		tr(all)
		cp()
		round()
		position: absolute
		top 50%
		margin-top: -25px
		z-index 10
		background: white
		opacity: .5
		size 50px
		&:hover
			opacity: 1
		.icon
			size 15px
	.slider-control--left
		left 30px
	.slider-control--right
		right 30px
	.slick-dots
		bottom 30px
//Навигация внутри
// === for custom navigation === 
 
//=== Внешний вид пагинации ===
.slick-dots
	+below(720px)
		bottom -20px
	width: 100%
	display: flex !important
	align-items: center
	justify-content: center
	bottom -50px
	li
		+below(720px)
			size 10px
			flex(mid)
	.dot
		+below(720px)
			flex(mid)
			size 6px
		background: white
		size 15px
		display: block
		opacity: .8
		round()
	.slick-active
		.dot
			opacity: 1

.slick-dotted.slick-slider
	margin-bottom: 0

//=== Внешний вид пагинации end===
 

 
// === Для центрального вида ===
 
.slick-center
	transform: scale(1.2);
	box-shadow 0 18px 32px #a2b8c5
	opacity: 1 !important
 
.name-slider
	.slick-slide
		opacity: .8
	.slick-list
		padding: 100px 80px!important
	.slick-slide
		margin: 0 20px
 
// === Для центрального вида end ===
// slick === end


// main slider
.main-slider__el
	+below(640px)
		padding: 60% 10%
	display: block
	bg-full()
	padding: 16% 10%
	//height: 500px
	width: 100%

.main-slider__el--md
	+below(640px)
		display none
.main-slider__el--sm
	+above(640px)
		display none

.main-slider
	+below(768px)
		margin-bottom: 10px
	margin-bottom: 40px
// main slider === end

// header
//.header-wrap
.header-top-wrap
	+below(1280px)
		display none
	background: $snow
//.main-cont
.header-top
	height: 50px
	f()
	align-items center
	justify-content space-between
	@extend .type--sm
.header-location
	f()
	align-items center
	.icon
		size 22px
		fill $mark
.header-work
	f()
	align-items center
.phone
	f()
	align-items center
	.icon
		size 20px
		fill $mark
	span
		font-weight: 700

.header-work__time
	color $gray
	margin-left: 10px
.nav-top
	flex(between)
	width: 30%
	margin: 0 10px
.nav-top__el
	&:hover
		color $mark

.auth
	margin: 0 10px
	cp()
	span
		tr()
	&:hover
		color $mark
.auth.active
	.auth-img
		display block
.auth-img
	display none
	size 24px
	round()
	bg-full()
.lang
	f()
.lang__el
	margin-left: 10px
	color $gray
.lang__el--active
	color black

.header-main-wrap
	+below(1280px)
		.main-cont
			max-width 100%
			width: 100%
			padding: 0
	box-shadow 0 5px 10px rgba(0, 0, 0, 0.05)
.header
	+below(1280px)
		height: 50px
		padding: 0
		justify-content: flex-start
	flex(between)
	padding: 20px 0
.logo
	+below(1280px)
		width: 15%
		margin-right auto
		min-width 150px
	+below(640px)
		min-width 130px
.header-nav
	+below(1280px)
		display none
	flex(between)
	width: 54%
.header-nav__el
	font-weight: 700
	white-space nowrap
	&:hover
		color $mark
.header-nav__el--mark
	br(20px)
	padding: 8px 25px
.header-nav__el--green
	border 2px solid $mark
.header-nav__el--red
	border 2px solid $red
	&:hover
		color $red
.header-cart
	+below(1280px)
		margin-right: 20px
	+below(640px)
		margin-right: 5px
		height: 100%
		border-left 1px solid $border-color
		padding-left: 5px
	position relative
	f()
	align-items center
	.icon
		+below(640px)
			margin-right: 0
		fill $mark
		margin-right: 15px
		size 30px
.header-cart__cost
	+below(640px)
		display none
	font-weight 700
.header-cart__size
	+below(1280px)
		size 20px
		font-size: 12px
		transform translateY(-10px)
		margin-left: 5px
	+below(640px)
		position absolute
		top 5px
		right: -5px
		transform translateY(0px)
		size 16px
		font-size: 10px
	size 50px
	background: $red
	color white
	flex(mid)
	round()
	margin-left: 10px

.header-menu
	+above(1281px)
		display none
	+below(640px)
		width: auto
		margin-right: 5px
	flex(mid)
	width: 150px
	height: 100%
	border-right 1px solid $border-color
	margin-right: 20px
.header-menu-btn
	+below(1280px)
		width: 100%
		br(0)
		height: 100%
		flex(mid)
	+below(640px)
		padding: 0
		width: 50px
		span
			display none
	@extend .btn--mark
	@extend .btn--md
	f()
	align-items center
	padding: 12px 20px
	line-height: 1
	.icon
		+below(640px)
			margin-right: 0
		fill white
		size 20px
		margin-right: 10px

.header-nav-toggle
	+above(1281px)
		display none
	flex(mid)
	size 50px
	border-left 1px solid $border-color
	.icon
		size 24px
.is-open
	display none

.slide-block-toggle--open
	.is-close
		display none!important
	.is-open
		display block!important
	.header-cart__icon
		.is-close
			display none
// header === end

// slide menu
.slide-block
	+below(1280px)
		top: 50px //Высота хедера
		height: calc(100% - 50px)
	+below(480px)
		width: 100%
	position: fixed
	top 90px
	width: 360px
	tr(all)
	border-right 1px solid $border-color
	height: calc(100% - 90px)
	background: white
	z-index 100
.slide-block-wrap
	overflow-y auto
	height: 100%
	padding: 10%
	.header-location
		margin-bottom: 20px
	.auth
		margin:0 0 20px 0
	.size
		margin-bottom: 20px
.slide-menu__list
	f()
	fl()
	align-items: flex-start
	.header-nav__el
		display inline
		margin-bottom: 20px
		padding-left: 30px

.slide-menu-nav__el
	display block
	margin-bottom: 20px

.header-nav__el--light
	font-weight: 400
.slide-block--left
	left 0
	transform translateX(-100%)

.slide-block--right
	right 0
	transform translateX(100%)

.slide-block--open
	transform translateX(0%)

.slide-block--cart
	border-left 1px solid $border-color

.slide-menu__list-el
	display: block
	margin-bottom: 10px
	tr(all)
	color $dark
	@extend .type--md
	font-weight 700
	&:hover
		color red
.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important

.header-contact
	f()
	align-items center
	margin-bottom: 20px
	.icon
		fill $mark
		size 24px
		margin-right: 15px

.header-contact__phone
	@extend .type--md
	color $dark
	white-space nowrap
	font-weight 700
	display inline-block
	margin-bottom: 5px
	&:hover
		color $mark
.header-contact__time
	+below(1560px)
		font-size: 12px
		white-space nowrap
	color $gray
	whtie-space nowrap

// slide menu === end


.kind
	+below(640px)
		grid-template-columns: repeat(2, 1fr)
		grid-gap 10px
		margin-bottom: 15px
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(4, 1fr)
	margin-bottom: 30px
.kind__el
	+below(640px)
		br(10px)
	position relative
	bg-full()
	padding: 50% 10%
	tr()
	br(28px)
	bsh-hover()
.kind__el-title
	+below(1024px)
		font-size: 16px
	position absolute
	bottom 0
	left 0
	padding: 20px 0
	width: 100%
	text-align center
	color white
	@extend .type--md
	font-weight 700

.kind-sm
	flex(mid)
	margin-bottom: 50px
.kind__sm-el
	+below(640px)
		width: 50%
		padding: 15px 5px
		font-size: 16px
	@extend .btn--sm
	color white
	font-weight 700
	font-size: 20px
	bg-full()
	margin: 0 5px
	background-color: rgba(0, 0, 0, 0.7)
	position relative
	overflow hidden
	bsh-hover()
	span
		z-index 2
		position relative
	&:hover
		color white
		&:before
			content ''
			background: rgba(0, 0, 0, 0.4)
	&:before
		content ''
		position absolute
		tr()
		top 0
		left 0
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.49)


// PRODUCT
.product-descr
	text-align center
	margin: 30px auto
	@extend .type--sm
	max-width 640px
	line-height: 1.6

.product-filter
	margin: 10px auto
	max-width 768px
	flex(mid)
	fw()
	.btn--sm
		margin: 10px

.product-el
	+below(480px)
		flex-flow row
	br(25px)
	tr(all)
	overflow: hidden
	background-color #ffffff
	position: relative
	f()
	fl()
	border 1px solid #f7f7f7

.product-el--sm
	.product-footer
		margin-top: 0
	.product-price
		font-size: 18px
	.product__title
		font-size: 18px
.product__img
	+below(480px)
		size 90px
		margin: 5px
	flex(mid)
	position relative
	overflow: hidden
	img
		margin: 0 auto
		tr(all)
		width: 100%
	&:hover
		.product__img-upload
			transform translateY(0%)
.product-change
	padding: 8px
	font-size: 14px
	text-align center
	background: $gray-light
	color $gray
	display block
	tr()
	cp()
	&:hover
		background: $mark
		color white
.product__img-upload
	position absolute
	width: 100%
	left 0
	z-index 10
	bottom 0
	f()
	fl()
	align-items center
	padding-bottom: 20px
	transform translateY(100%)
	tr()
	.icon-block
		margin-bottom: 10px
	span
		@extend .type--sm


.product__img--lg
	.product__img-el
		padding: 35% 10%
.product__cont
	+below(480px)
		width calc(100% - 100px)
		.size
			display none
		padding:10px 10px 10px 0
	f()
	fl()
	flex-grow 1
	padding: 20px 18px
.product__img-el
	tr(all)
	width: 100%
	height: 100%
	bg-full()
	background-size: cover
	padding: 50% 10%
	br(25px)
.product__title
	margin-bottom: 10px
	color $dark
	tr(all)
	@extend .type--md
	font-weight 700
	display: block
	&:hover
		color $mark

.product-box
	margin-bottom:auto

.product__text
	+below(480px)
		margin-bottom: 0
		font-size: 12px
	opacity .8
	line-height: 1.6
	tr()
	margin-bottom: 20px
	color $gray
	@extend .type--sm
.product-cont
	+below(1024px)
		grid-template-columns: repeat(3, 1fr)
		margin: 30px 0
		grid-gap 20px
	+below(640px)
		grid-template-columns: repeat(2, 1fr)
	+below(480px)
		grid-template-columns: 1fr
	//flex(between)
	margin-bottom: 50px
	display: grid
	grid-gap 40px
	grid-template-columns: repeat(4, 1fr)
	overflow: hidden
.product-cont--five
	+below(1024px)
		grid-template-columns: repeat(4, 1fr)
		margin: 30px 0
	+below(640px)
		grid-template-columns: repeat(3, 1fr)
	+below(480px)
		grid-template-columns: 1fr 1fr
	grid-template-columns: repeat(5, 1fr)

.product-cont--three
	grid-template-columns: repeat(auto-fill, minmax(14rem,1fr))
	grid-gap 30px
.product-footer
	+below(480px)
		margin-top: 10px
	flex(between)
	margin-top: 20px
.product-price
	+below(1200px)
		font-size: 14px
	+below(1024px)
		font-size: 24px
	+below(640px)
		font-weight: 700
	+below(480px)
		font-size: 16px
	@extend .type--md
	background-color #ffffff
	font-weight 700
	white-space nowrap
.product-weight
	margin-right auto
	margin-left: 10px
	@extend .type--sm
	color $gray
	white-space nowrap

.product-add
	+below(768px)
		font-size: 12px
	cp()
	@extend .type--sm
	tr(all)
	width: 50%
	text-align: center
	@extend .btn--md
	@extend .btn--light
	padding: 5px 20px
	flex(mid)
	height: 40px
	white-space nowrap
	&:hover
		background: $mark

.product-el--add
	+below(480px)
		left 10px
		right initial

	br(10px)
	padding: 5px 10px
	flex(mid)
	position absolute
	top: 10px
	right: 10px
	z-index 10
	background: $mark
	color white
	.icon
		margin-right: 3px
		size 16px
		fill white

.product-el--add-val
	font-weight: 700
	@extend .type--xs
	font-weight 700

// product slider
.product-slide
	position absolute
	top 0
	left 0
	width: 100%
	height: calc(100% - 60px)
	background: white
	z-index 25
	transform translateX(100%)
	tr()
.product-slide.active
	transform translateX(0)

.product-slide-wrap
	position relative
	padding: 60px 20px 20px 20px
	height: 100%

.product-slide__close
	position absolute
	size 60px
	top 0
	right: 0
	flex(mid)
	cp()
	tr()
	background-color $gray-light
	border-radius 0 25px 0 60px
	z-index 30
	&:hover
		background: $gray
	.icon
		size 12px
		margin-top: -5px
		margin-right: -10px

.product-slide__list
	.check-el
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
	.style-label
		align-items: flex-start
.product-slide__title
	text-align center
	@extend .type--md
	font-weight: 700
	margin-bottom: 20px
.product-slide__info
	width: 100%
	f()
	justify-content space-between
	align-items: flex-start
	@extend .type--sm
	font-weight 700
	.incr__val
		font-size: 16px
		padding: 0 10px

.product-slide__text
	text-align center
	@extend .type--sm
	margin-top: -10px
	margin-bottom: 20px
	color $gray

.product-slide__row
	padding: 10px 0
	border-top 1px solid $border-color
	border-bottom 1px solid $border-color
	margin-top: -1px
	.product-slide__info
		align-items center
		margin-top: 10px
// product slider === end

// PRODUCT === end

// size
.size
	display: grid
	grid-gap 0
	grid-template-columns: repeat(auto-fit, minmax(3rem,1fr))
	br(20px)
	border 1px solid $gray-light

.size--mark
	border 1px solid $mark
	.size__el--active
		background: $mark
		color white
	.size__el
		border-right 1px solid $mark
		&:last-child
			border 0

.size--lg
	br(30px)
	.size__el
		padding: 20px 10px
		font-weight: 700
		&:first-child
			border-radius 30px 0 0 30px
		&:last-child
			border-radius 0 30px 30px 0

.size--column
	+below(640px)
		fw()
		.size__el
			width: 100%
			border-radius 30px!important

.size--sm
	display: inline-flex
	.size__el
		padding: 8px 20px


.size--fluid
	@extend .size--lg
	f()
	.size__el
		flex-grow 1
		font-weight: 700
		font-size: 14px

.size__el
	+below(480px)
		font-weight:700
	cp()
	tr()
	font-size: 14px
	padding: 10px
	text-align: center
	line-height: 1
	&:first-child
		border-radius 20px 0 0 20px
	&:last-child
		border-radius 0 20px 20px 0
	&:hover
		border-color $mark
.size__el--active
	background: $gray-light
// size === end

// sale-list
.sale-items
	+below(480px)
		grid-template-columns: 1fr

	display: grid
	grid-gap 30px
	grid-template-columns: repeat(auto-fill, minmax(25rem,1fr))
.sale-items__el
	align-items: flex-start
	f()

.sale-items__el-img
	+below(480px)
		width: 40%
		padding: 15%
	bg-full()
	padding: 10%
	width: 35%
	margin-right: 20px
	br(20px)
.sale-items__el-info
	+below(480px)
		width 65%
	width calc(100% - 35% - 20px)
.sale-items__el-title
	+below(480px)
		line-height: 1.4
		font-size: 14px
	@extend .type--md
	font-weight 700
	margin-bottom: 10px
	display inline-block
// sale-list === end

.icon-round
	+below(480px)
		size 32px
	size 44px
	flex(mid)
	round()
	tr()
	.icon
		+below(480px)
			size 12px
		tr()
		size 14px
.icon-round--mark
	border 2px solid $mark
	.icon
		fill $mark
	&:hover
		background: $mark
		.icon
			fill white

.section
	+below(768px)
		margin: 30px 0
	margin: 50px 0

.gallery
	+below(768px)
		grid-template-columns: repeat(auto-fill, minmax(8rem,1fr))
		grid-gap 10px
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(14rem,1fr))
.gallery__el
	padding: 35% 10%
	bg-full()
	br(5px)

.toggle-seo
	cp()
	.icon
		tr()
	.type--true
		display none
.toggle-seo.active
	span
		color $mark
	.icon
		tr()
		transform rotate(180deg)
	.type--true
		display block
	.type--false
		display none


// soc row
.soc-row
	f()
.soc-row__el
	round()
	flex(mid)
	tr(all)
	margin-right: 10px
	size 30px
	background: black
	&:hover
		background: $mark
	.icon
		size 14px
		fill white
.soc-row__el--red
	background: $red
// soc row === end
.footer-top-wrap
	background: $snow
.footer-top
	+below(1024px)
		fw()
	f()
	align-items center
	justify-content space-between
	min-height 80px
//.footer-wrap
//.main-cont

.footer-payment
	+below(1280px)
		display none
	margin-right: 10px
.footer-info
	+below(1024px)
		margin-right: 0
		padding: 20px 0
	+below(640px)
		width: 100%
	margin-right: 10px
.footer-info__title
	font-weight:700
	margin-bottom: 5px
.footer-info__text
	color $gray
	@extend .type--sm
.footer-map
	+below(1024px)
		width: calc(100% + 20px)
		margin-left: -10px
		margin-right: -10px
	width: 20%
	tr()
	padding: 30px 35px
	color white
	text-align center
	position relative
	overflow hidden
	span
		position relative
		z-index 5
		color white!important
		font-weight: 700
	&:hover
		.footer-map__el
			transform scale(1.3)
.footer-map__el
	tr()
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	bg-full()
.footer-main-wrap
	background: $gray-light
.footer-main
	padding: 30px 0
.footer-nav
	+below(1280px)
		display none
	flex(between)
	margin-bottom: 30px
.footer-nav__el
	@extend .type--sm
.footer-cont
	+below(1280px)
		fw()
	+below(640px)
		.soc-row
			width: 100%
			margin-bottom: 10px
	flex(between)
.footer-phone
	+below(960px)
		width: 100%
		margin-bottom: 10px
	font-weight:700

.footer-mail
	+below(960px)
		width: 100%
		margin-bottom: 10px
.footer-loc
	+below(960px)
		width: 100%
		margin-bottom: 10px
//.icon
.create
	flex(mid)
	span
		+below(640px)
			width: 100%
		@extend .type--sm
		display inline-block
		margin-right: 10px

.product-conf
	+below(480px)
		display none
	f()
	align-items center
	margin-bottom: 15px
.product-conf__el
	f()
	align-items center
	margin-right: 10px
	cp()
	.icon
		size 12px
		fill $mark
		margin-right: 5px
		tr()
	span
		tr()
		font-size: 14px
	&:hover
		span
			color $mark
		.icon
			transform rotate(180deg)


// bread
.bread
	+below(640px)
		display: none
	f()
	fw()
	padding: 0 0 20px 0
 
.bread__el
	margin-right: 15px
	margin-bottom: 10px
	position: relative
	@extend .type--sm
	&:after
		content '/'
		position: absolute
		right: -10px
		top 0
	&:last-child
		color $gray
		&:after
			content ''
			display: none
// bread === end

// structure
.structure
	+below(480px)
		grid-template-columns: repeat(2, 1fr)
	display: grid
	grid-gap 10px
	grid-template-columns: repeat(4, 1fr)
	margin-bottom: 10px
.structure-wrap
	max-width 400px
.structure__el
	padding: 10px 5px
	border 1px solid $border-color
	br(20px)
	flex(mid)
	fl()
.structure__el-name
	@extend .type--xs

.structure-text
	+below(480px)
		text-align center
	text-align: right
	@extend .type--xs
	margin-bottom: 30px
// structure === end

.item-wrap
	f()
	justify-content space-between
	align-items: flex-start
	margin-bottom: 50px
.item-col
	width: 45%
.item-img
	bg-full()
	padding: 50% 10%
	br(30px)
.item-info
	width calc(55% - 50px)
.item-descr
	margin-bottom: 10px
	line-height: 1.6
.item-size
	margin-bottom: 20px
.item-config-row
	margin-bottom: 30px
.item-prop
	br(10px)
	overflow hidden
	background: white
	margin-bottom: 10px
	padding-right: 20px
	f()
	cp()
	align-items center
	justify-content space-between
	&:last-child
		margin-bottom: 0
.item-prop__img
	width: 70px
	height: 60px
	bg-full()
	margin-right: 20px
.item-prop__title
	@extend .type--sm
	font-weight 700
	margin-right auto
.item-prop__cost
	@extend .type--sm
	font-weight 700
.item-prop__incr
	margin-right: 20px
.ingr-row
	f()
	align-items center
	justify-content space-between
	padding: 10px 0
	border-bottom 1px solid $border-color
	@extend .type--sm
	&:first-child
		padding-top: 0

.ingr-row--clear
	padding: 0
	margin-bottom: 15px
	border 0
	
.ingr-name
	width: 50%
.ingr-cost
	width: 10%
	color $gray
//.ingr-total
.item-total
	f()
	align-items center
	margin-bottom: 40px
	margin-top: 30px
.item-total-wrap
	margin-right: 30px
.item-total__info
	@extend .type--sm
	margin-bottom: 5px
.item-total__cond
	f()
	align-items: flex-end
.item-total__cost
	@extend .type--lg
	font-weight 700
	line-height: 1
	margin-right: 10px
//.item-total__weight
.item-get
	margin-right: 20px


// construct
.constr-wrap
	f()
	justify-content space-between
	align-items: flex-start
	margin-bottom: 50px
.constr-col
	width: 30%
.constr-img
	bg-full()
	padding: 16% 10%
	br(30px)
	margin-bottom: 20px
.constr-info
	width calc(70% - 80px)
.constr-descr
	margin-bottom: 30px
	line-height: 1.6
.constr-size
	margin-bottom: 20px
.constr-config-row
	margin-bottom: 30px

.constr-prop-wrap
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(8rem,1fr))
.constr-prop
	br(10px)
	cp()
	tr()
	overflow hidden
	background: white
	border 1px solid transparent
	&:last-child
		margin-bottom: 0
	&:hover
		border 1px solid $mark
.constr-prop.active
	border 1px solid $mark
	.constr-incr
		transform translateY(0%)
.constr-prop-cont
	padding: 20px 15px
	width: 100%
.constr-prop__img
	padding: 40% 40%
	bg-full()
	position relative
.constr-incr
	position absolute
	width: 100%
	height: 100%
	top 0
	left 0
	flex(mid)
	tr()
	background: #ffffffb5
	transform translateY(-100%)

.constr-prop__title
	@extend .type--sm
	font-weight 700
	margin-right auto
	width: 100%
	margin-bottom: 5px
.constr-prop__cost
	@extend .type--sm
	font-weight 700
.constr-prop__incr
	margin-right: 20px
// construct === end

.item-config-total
	padding-top: 20px
	border-top 1px solid $border-color
	flex(between)
	margin-bottom: 10px
.item-config-total__text
	@extend .type--md
	font-weight 700
.item-config-total__val
	@extend .type--lg
	font-weight 700

.item-config-get
	margin-bottom: 20px

.item-config-add
	f()
	align-items center
	.icon
		size 24px
		margin-right: 10px
		fill $mark
		tr()
		&:hover
			fill lighten($mark,10)
	span
		display inline-block
		@extend .type--sm
		width calc(100% - 20px)

.warning
	f()
	align-items center
	margin: 20px 0
	.icon
		size 28px
		margin-right: 20px
		fill $red
		tr()
		&:hover
			fill lighten($red,10)
	span
		color $red
		display inline-block
		font-size: 12px
		width calc(100% - 20px)

// sale-list
.sale-list
	+below(640px)
		grid-gap 20px
	display: grid
	grid-gap 40px
	grid-template-columns: repeat(auto-fill, minmax(18rem,1fr))
.sale-list__el
	display block
.sale-list__el-img
	bg-full()
	padding: 32% 10%
	br(20px)
	width: 100%
.sale-list__el-descr
	+below(480px)
		padding: 15px 0
	padding: 15px
	f()
	justify-content space-between
.sale-list__el-info
	width calc(100% - 70px)
.sale-list__el-title
	color $dark
	display inline-block
	@extend .type--md
	font-weight 700
	line-height: 1.4
	margin-bottom: 10px
	tr()
	&:hover
		color $brown
.sale-list__el-date
	f()
	@extend .type--sm
	align-items center
	color $gray
	.icon
		size 20px
		fill $gray
		margin-right: 10px
.sale-list__el-more
	margin-top: 15px

.info-banner
	+below(768px)
		margin: 0 0 30px 0
		padding: 20% 10%
		br(0)
		margin-left: -10px
		width calc(100% + 20px)
	bg-full()
	br(20px)
	padding: 15% 10%
	margin 0 0 50px 0

.sale-date
	f()
	@extend .type--sm
	align-items center
	color $gray
	margin-bottom: 30px
	.icon
		size 20px
		fill $gray
		margin-right: 10px

.info-descr
	+below(768px)
		padding-left: 0
		margin-top: 0
	padding-left: 75px
	margin-top: -20px
	margin-bottom: 50px

// sale-list === end

.map
	position relative
	padding: 20% 10%
	background: $snow
	min-height 400px
	br(20px)
	overflow hidden
	margin-bottom: 30px
.map__el
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	bg-full()
// deliver
.deliver-zone
	f()
	justify-content space-between
	margin-bottom: 40px
.deliver-zone__el
	width: 30%
.deliver-zone__head
	f()
	align-items center
	margin-bottom: 10px
	.icon
		size 20px
		fill $mark
	span
		display inline-block
		font-weight: 700
		margin-right: 10px
.deliver-zone__type
	.icon
		size 26px
		margin-right: 10px

.deliver-zone__info
	padding-left: 30px
	line-height: 1.6
.deliver-info
	br(10px)
	border 1px solid $mark
	padding: 20px 40px
	display: grid
	grid-gap 20px
	grid-template-columns: 1fr 1fr
	//grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
.deliver-info__el
	@extend .type--md
	font-weight 700
	line-height: 1.4
// deliver === end

// review
.review
	+below(768px)
		fw()
	f()
	justify-content space-between
	align-items: stretch
.review-wrap
	+below(768px)
		width: 100%
		margin-bottom: 30px
	width calc(100% - 390px)
.review-msg
	+below(768px)
		width: 100%
	width: 350px
.msg
	background: #f5f5f5
	br(20px)
	padding: 50px 70px
	flex(mid)
	fl()

.msg__icon
	margin-bottom: 10px
.msg__title
	@extend .type--md
	font-weight 700
	margin-bottom: 10px
.msg__text
	text-align center
	line-height: 1.4
	margin-bottom: 20px
	font-size: 14px

.review__el
	background-color #ffffff
	margin-bottom: 20px
	padding-bottom: 20px
	border-bottom 1px solid #F5F5F5
.review__el-info
	+below(640px)
		fw()
	f()
	align-items center
	margin-bottom: 10px
.review__el-name
	+below(640px)
		margin-bottom: 10px
	font-weight 700
	margin-right: 20px
.review__el-date
	color $gray
	@extend .type--sm
.review__el-text
	line-height: 1.6

.answer
	margin-top: 20px

.answer-head__icon
	margin-bottom: 10px
.answer-head__name
	@extend .type--lg
	font-weight 700
.answer-text
	padding-left: 50px
	p
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
.loader
	flex(mid)
	margin: 30px 0


.review-star
	f()
	.icon
		fill $red
		margin-right: 5px
		size 16px
// review === end

// restaurant
.restaurant
	+below(960px)
		grid-gap 20px
		grid-template-columns: repeat(auto-fill, minmax(18rem,1fr))
	display: grid
	grid-gap 30px
	//grid-template-columns: repeat(5, 1fr)
	grid-template-columns: repeat(auto-fill, minmax(22rem,1fr))
.restaurant-item__img
	bg-full()
	padding: 35% 10%
	display: block
	position: relative
	br(20px)
	overflow hidden
.restaurant-item__cont
	padding-top: 10px
.restaurant-item__title
	@extend .type--md
	font-weight 700
	line-height: 1.6
	margin-bottom: 10px
	display: block
.restaurant-item__time
	color $gray
	@extend .type--sm
	line-height: 1.4
	margin-bottom: 5px
	&:last-child
		margin-bottom: 0

// restaurant === end

// ==== restaurant FULL
.cafe-item
	+below(768px)
		fw()
	f()
	justify-content: space-between
	margin-bottom: 50px
.cafe-item__img-wrap
	+below(768px)
		width: 100%
		margin-bottom: 10px
	width: 55%
.cafe-item__img-el
	+below(768px)
		margin-bottom: 20px
	bg-full()
	padding: 30% 10%
	br(20px)
.cafe-item__cont
	+below(768px)
		width: 100%
		padding: 0 10px
	width: calc(45% - 40px)
.cafe-item__title
	+below(1024px)
		font-size: 28px
	+below(768px)
		font-size: 24px
	+below(640px)
		margin-bottom: 10px
		font-size: 20px
	color $dark
	@extend .type--md
	font-weight 700
	margin-bottom: 20px
.cafe-item__time
	+below(640px)
		margin-bottom: 20px

	margin-bottom: 20px
	span
		display: block
		margin-bottom: 10px
		@extend .type--sm
.cafe-item__phone
	display: block
	color $dark
	@extend .type--md
	font-weight: 700
	margin-bottom: 10px
.cafe-item__phone-text
	margin-bottom: 30px
	color $gray
	@extend .type--sm
.cafe-item__text
	+below(768px)
		margin: 0
	padding-right: 20px
.cafe-item__adv
	f()
	align-items center
	margin-bottom: 20px
.cafe-item__adv-icon
	.icon
		fill $mark
		size 28px
		margin-right: 20px
//.icon
.cafe-item__adv-text
	font-weight: 700
.cafe-get
	@extend .btn--lg
	@extend .btn--light
	margin: 20px 0
	padding: 15px 40px
	font-weight: 700
// ==== restaurant FULL === end

// gallery
.gallery__el
	bg-full()
	padding: 40% 10%
	br(10px)
.gallery__el-nav
	bg-full()
	br(10px)
	cp()
	padding: 40% 10%

.gallery-slider-nav
	.slick-slide
		margin: 0 10px
	.slick-current
		tr()
		opacity: .4
	.slick-track
		margin-left: 0px
	.slick-list
		margin: 0 -10px
.gallery-slider
	margin-bottom 10px

// gallery === end

// news list
.news-list-el
	f()
	align-items: flex-start
	margin-bottom: 60px
.news-list__img
	br(20px)
	bg-full()
	padding: 10%
	width: 35%
.news-list__info
	width 65%
	margin-left: 40px
.news-list__date
	color $gray
	@extend .type--xs
	margin: 10px 0
.news-list__text
	color $gray
	@extend .type--sm
	line-height: 1.4

// news list === end

// vacancy
// VACANCY List
.vacancy-list
	+below(1024px)
		grid-template-columns repeat(3, 1fr)
	+below(960px)
		grid-template-columns repeat(2, 1fr)
		margin-bottom: 40px
		grid-gap 40px
	+below(640px)
		grid-gap 20px
	+below(520px)
		grid-template-columns 1fr
	display: grid
	grid-gap 40px
	grid-template-columns repeat(3, 1fr)
	margin-bottom: 100px

.vacancy-list__el
	overflow: hidden
	cp()
	tr(all)
.vacancy-list__img
	padding: 33% 10%
	bg-full()
	position: relative
	margin-bottom: 15px
	br(10px)
.vacancy-list__title
	@extend .type--md
	font-weight: 700
	margin-top: auto
	line-height: 1.4
	margin-bottom: 10px
.vacancy-list__decr
	line-height: 1.6
	color $gray
	font-weight: 400
	f()
	fw()
	margin-bottom: 5px
	@extend .type--sm
.vacancy-list__decr-type
	opacity: .6
	margin-right: 10px

.vacancy-list__decr-val
	color black

.vacancy-list__el-cont
	position: absolute
	width: 100%
	height: 100%
	left 0
	top 0
	f()

.vacancy-footer
	f()
	margin-top: 20px

.vacancy-set
	background: $mark
	color white
	border-radius 25px 0 0 25px
	tr()
	&:hover
		background-color lighten($mark,10)

.vacancy-more
	border-radius 0 25px 25px 0
	border 1px solid $border-color
	tr()
	&:hover
		background-color lighten($snow,5)
.vacancy-footer__el
	@extend .type--sm
	font-weight 700
	padding: 13px 20px
	width: 50%
	text-align center
// vacancy === end

.contact-info
	f()
	justify-content space-between
	margin: 30px 0
.contact-info__map
	width: 65%
.contact-info__text
	width: 35%
	margin-left: 30px

.about-cont
	max-width 900px

.subscr-conf
	flex(between)
	.login-remember
		width: 60%
		margin-bottom: 0

.subscr-wrap
	padding: 40px 0
	background: #f8f8f8
	margin-bottom: 40px

.text-box-sm
	max-width 600px

.order
	+below(968px)
		fw()
	f()
	justify-content:space-between
	align-items streth

.order-cont
	+below(960px)
		fw()
		margin-bottom: 50px
	f()
	justify-content space-between
	align-items: flex-start
	width: 100%

.total
	+below(960px)
		width: 100%
		max-width 640px
		margin: 0 auto
	width: calc(30% - 20px)
	margin-left auto
.total-title
	@extend .type--md
	font-weight: 700
	margin-bottom: 30px
.total-row
	flex(between)
	margin-bottom: 10px
.total-row__val
	font-weight: 700
	@extend .type--md
	white-space nowrap
.total-text
	@extend .type--md
	margin-bottom: 10px
	line-height: 1.6
	font-size: 14px
.total-cost
	flex(between)
	padding-top: 20px
	margin-top: 20px
	border-top 1px solid $border-color
	margin-bottom: 30px

.total-cost__text
	font-weight 700
	@extend .type--md
.total-cost__val
	font-weight 700
	@extend .type--lg

.total-get
	@extend .btn--md
	@extend .btn--mark
	padding: 20px 50px
	width: 100%


.order__el-info
	+below(640px)
		fl()
		justify-content center
	f()
	align-items center

.order__el
	+below(640px)
		fw()
		flex(mid)
		fl()
		position: relative
	display flex!important
	flex(between)
	padding: 10px 0
	outline none!important
	margin-bottom: 10px
	border-bottom 1px solid $border-color
.order__img
	+below(640px)
			margin-right: 0
			height: 150px
			width: 150px
	size 90px
	br(5px)
	bg-full()
	background-size: contain
	margin-right: 20px

/*.order__name
	font-weight: 700
	font-size: 14px
	margin-bottom: 5px
	display block*/

.order__name-text
	+below(640px)
			font-size: 20px
			margin-bottom: 20px
			text-align: center
	tr()
	margin-bottom: 5px
	font-weight 700
	color $dark
	display block
	&:hover
			color $mark
.order__adds
	+below(640px)
		width: 100%
		text-align center
		margin-bottom: 10px
	@extend .type--sm
	color $gray
.order__el-change
	+below(640px)
		width: 100%
		fl()
	f()
	align-items center
	width: 35%
	justify-content space-between

.order__inc
	+below(640px)
		.incr
			width: auto

.order__price
	+below(768px)
		margin: 20px 0
		font-size: 20px
		margin-right:initial
		text-align center
	font-weight 700
	white-space nowrap
.order__delete
	+below(640px)
		position absolute
		top 0
		right: 0
	margin-left: 20px
	.icon
		cp()
		tr(all)
		size 16px
		fill $gray
		&:hover
			fill black

.order-item
	+below(960px)
		margin-bottom: 20px
		width: 100%
	width: 65%

.order-add
	+below(1024px)
		grid-template-columns: repeat(3, 1fr)
	+below(640px)
		grid-template-columns: repeat(2, 1fr)
		margin-bottom: 0
	+below(480px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 40px
	grid-template-columns: repeat(4, 1fr)
	margin-bottom: 80px

.order-add--sm
	grid-template-columns: repeat(auto-fill, minmax(10rem,1fr))


.order__el-wrap
	margin-bottom: 60px

// steps
.steps
	+below(1024px)
		display none
	f()
	justify-content space-between
	width: 100%
	margin-bottom: 30px
.step__el
	f()
	fl()
	position relative
	pointer-events none
	align-items center
.step-line
	height: 1px
	width: 140%
	margin-top: 30px
	border 1px dashed $border-color
.step__el-val
	size 60px
	border 1px dashed $border-color
	flex(mid)
	round()
	font-weight: 700
	margin-bottom: 10px
	color $gray

.step__el-name
	@extend .type--sm
	text-align center
	color $gray
	font-size: 10px
.step__el--current
	&:before
		content ''
		background: $mark
	.step__el-val
		background:black
		color white
		border-color black
	.step__el-name
		color black

.step__el--active
	pointer-events initial
	.step__el-name
		color black
	.step__el-val
		background:$mark
		border-color $mark
		color white
// steps === end

.order-form
	+below(1024px)
		width: 100%
		margin-bottom: 40px
	width: 60%

.order-condition
	+below(960px)
		width: 100%
	width: calc(30% - 20px)
	margin-left auto

.form-block
	margin-bottom: 10px

.direction--sm
	display: grid
	grid-column-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(14rem,1fr))
.direction-el
	padding: 25px 25px 25px 30px
	br(20px)
	cp()
	border 1px solid $border-color
	margin-bottom: 20px
	position relative
	overflow hidden
	&:before
		content ''
		position absolute
		top 0
		left 0
		width: 10px
		height: 100%
		background: $snow
.direction-el__title
	font-weight: 700
	margin-bottom: 10px
.direction-el__text
	@extend .type--sm
.direction-el.active
	&:before
		content ''
		background: $mark

.direction-el-add
	f()
	cp()
	align-items center
	margin-bottom: 30px
	span
		color $brown
	.icon-block
		margin-right: 20px


.icon-block
	size 40px
	flex(mid)
	br(10px)
	.icon
		size 16px

.icon-block--mark
	background: $mark
	&:active
		.icon
			fill $red
	.icon
		fill white

.icon-block--empty
	border 2px solid $mark
	&:active
		.icon
			fill $red
	.icon
		fill $mark


.goods-list
	margin-bottom: 20px

.goods-list__el
	flex(between)
	margin-bottom: 10px
	@extend .type--sm
	&:last-child
		margin-bottom: 0
.goods-list__el-name
	width: 65%
	color $red
	white-space nowrap
	text-overflow ellipsis
	overflow hidden

.goods-list__el-name--gray
	color black


.goods-list__el-val
	width: 15%
	text-align center
.goods-list__el-cost
	white-space nowrap
	width: 20%
	text-align: right
	color $gray

.order-total
	+below(640px)
		width: 100%
		text-align center
	border-top 1px solid $border-color
	flex(between)
	padding-top: 20px
	margin: 20px 0
.order-total__text
	+below(640px)
		text-align center
		width: 100%
	margin-right: 10px
	@extend .type--md
	font-weight 700

.order-total__val
	+below(640px)
		width: 100%
		text-align center
		font-size: 38px
	@extend .type--lg
	font-weight: 700

// range slider
.range__wrap
	margin-bottom 70px
	margin-top: 30px
	position relative
	.irs-hidden-input
		display none!important
	.irs-bar-edge
		background $mark
		height 15px
		border-radius 10px 0px 0px 10px
		width 25px
	.irs-bar
		height 15px
		background $mark
		br(10px)
	.irs-line-left
		height 15px
		border-radius 10px 0px 0px 10px
		background $snow
	.irs-line-right
		height 15px
		background $snow
		border-radius 0px 10px 10px 0px
	.irs-line-mid
		background $snow
		height 15px
	.irs-line
		height 15px
	.single
		background: $mark
		size 25px
		br(5px)
		top 20px
	.irs-slider
		width 45px
		height 30px
	.irs-min, .irs-max
		display none
	.irs-single
		&:before
			content ''
			display none
		top 55px
		background transparent
		color black
		font-size: 18px
	.irs--flat .irs-handle > i:first-child
		display none
	.irs--flat .irs-line
		background: #F8F8F8
		border 1px solid $border-color
		border-radius 10px
// range slider === end


.range-head
	+below(640px)
		fw()
	flex(between)
.range-title
	+below(640px)
		width: 100%
		margin-bottom: 20px
	@extend .type--md
	font-weight: 700
.range-head__info
	f()
	align-items center
	.icon
		size 18px
		fill $mark
.range-head__val
	@extend .type--md
	margin: 0 10px
	color $red

// ==== ORDER ==== === end

.drop-fade
	transform: scaleY(0)
	transition opacity .6s
	transform-origin: top
	opacity: 0
	z-index -1
	position absolute
	left -9999px

.drop-fade.active
	transition opacity .6s
	transform: scaleY(1)
	opacity: 1
	z-index 1
	position relative
	left 0


.drop-slide
	transform: scaleY(0)
	transition transform .6s, opacity .6s
	transform-origin: top
	z-index -1
	position absolute
	left -9999px
.drop-slide.active
	transition transform .6s, opacity .6s
	transform: scaleY(1)
	opacity: 1
	z-index 1
	position relative
	left 0

// template nice-select
.nice-select
	br(20px)
	display: block
	color #000000
	font-size 14px
	font-weight 700
	margin-bottom: 0
	height: 55px
	float none
	f()
	align-items center
	padding: 10px 30px
	&:after
		content ''
		size 7px
		right: 20px
	.list
		width: 100%
		left 0px
		border-radius 0 0 20px 20px
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		max-height 150px
		overflow-y auto
		li
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
		.current //max width dots
			display block
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			max-width 100%
			width: 100%
			text-align: left

.nice-select.open
	border-radius 20px 20px 0 0

select.select-beauty
	display: none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

// template nice-select === end

.col-2
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(8rem,1fr))


// lk

.lk
	+below(768px)
		fw()
	f()
	justify-content space-between
	margin-top: 30px
.lk-toolbar
	+below(768px)
		width: 100%
		margin-bottom: 30px
	width: 27%
.lk-toolbar-wrap
	br(10px)
	background: white
	padding: 30px 50px
.lk-toolbar__el
	+below(768px)
		width: 100%
	margin-bottom: 25px
	tr()
	f()
	align-items center
	font-weight: 700
	&:last-child
		margin-bottom: 0
	&:hover
		color $mark

	.icon
		size 16px
		fill $mark
		margin-right: 10px
		display none
.lk-toolbar__el--active
	color $mark
	margin-left: -25px

	.icon
		display block
.lk-toolbar__el-text
	margin-right: 10px
.bonus-val
	color $mark
	@extend .type--xs
	font-weight 700
	transform translateY(-10px)
.lk-content
	+below(768px)
		width: 100%
	width: 70%

.lk-profile
	+below(768px)
		width: 100%
	+below(640px)
		fw()
	f()
	justify-content space-between
	align-items:flex-start

.lk-profile-info
	+below(768px)
		width: 100%
	width: 60%
.lk-profile-info__el
	margin-bottom: 30px

.lk-profile-nav
	+below(768px)
		width: 100%
		margin-top: 20px
	+below(640px)
		padding: 0
		border-left 0
	width: 40%
	padding: 20px 0 20px 25px
	border-left 1px solid $border-color
.lk-profile-nav__el
	f()
	tr()
	cp()
	align-items center
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0
	&:hover
		color $mark
.lk-profile-nav__el-icon
	margin-right: 20px
	.icon
		size 20px
		fill $mark
//.icon
.lk-adress__el
	padding: 25px
	margin-bottom: 30px
	border-radius 10px
	background-color #ffffff
.lk-adress__type
	color $mark
	font-weight 700
	margin-bottom: 10px
.lk-adress__val
	line-height: 1.4
	margin-bottom: 20px
	@extend .type--sm
.lk-adress-footer
	flex(between)
.lk-adress-footer__el
	flex(mid)
	cp()
	@extend .type--sm
	&:hover
		span
			color black
	.icon
		margin-right: 10px
		size 16px
	span
		tr(all)
		display: inline-block
		color $gray
.lk-adress-edit
	.icon
		fill $mark
.lk-adress-remove
	.icon
		fill $red

.lk-adress__add
	flex(mid)
	tr(all)
	cp()
	height: 50px
	border-radius 10px
	background-color #ffffff
	&:hover
		span
			color black
	.icon
		size 16px
		fill $mark
		margin-right: 10px
	span
		color $gray
		tr(all)

.profile__img
	flex(mid)
	round()
	cp()
	position relative
	size 120px
	overflow hidden
	background: #f1f1f1
	margin-bottom: 30px
	&:hover
		.profile__img-load
			opacity: 1

.profile__img-icon
	.icon
		size 40px
		fill $gray

.profile__img-load
	tr()
	flex(mid)
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	background: #0606062e
	opacity: 0
	.profile__img-load-icon
		size 40px
		br(10px)
		flex(mid)
		background: white
		.icon
			size 16px
			fill $mark
.profile__img-el
	bg-full()
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%

// lk === end


// LK HISTORY
// history
.lk-history
	+below(768px)
		margin-top: 30px
	margin-left: auto
	margin-right: auto
	margin-top: 100px
	max-width 1024px
.history
	width: 100%
	overflow: hidden
	padding-bottom 30px
	+below(640px)
		max-width 340px
		margin-left: auto
		margin-right: auto
.history-card
	+below(1024px)
		.top
			display: none
	perspective 600px
	padding: 5px
	border 1px solid $snow
	margin-bottom: 10px
	br(10px)
.history-card__wrap
	+below(640px)
		fw()
	cp()
	f()
	br(10px)
	background: white
	padding: 20px
	align-items: center
	transform-style: preserve-3d;
	//transition all .6s

.history-card__wrap--active
	transform rotateX(90deg)
	backface-visibility hidden
.history-card__info
	+below(640px)
		width: 100%
	margin-right: 5%
.history-card__date
	@extend .type--sm
	margin-bottom: 5px
	+below(640px)
		margin-bottom: 10px
.history-card__numb
	@extend .type--sm
	opacity .6
.history-card__price
	+below(640px)
		margin-left:initial
		width: 100%
		flex(between)
	margin-left: auto
.history-card__price_val
	color $dark
	font-weight: 700

.history-card__list
	+below(640px)
		width: 100%
		margin: 20px 0
	+below(480px)
		grid-template-columns repeat(auto-fit, minmax(35px, 35px));
	display: grid
	grid-gap 15px
	grid-template-columns repeat(4,1fr);
.history-card__list-el
	+below(480px)
		size 35px
	size 40px
	round()
	bg-full()
	position: relative
.history-card__list-el-val
	position: absolute
	right: -8px
	top -2px
	size 24px
	background: $mark
	color white
	round()
	flex(mid)
	@extend .type--sm
	font-size: 10px


.history-card__list-el--last
	.history-card__list-el-val
		width: 100%
		height: 100%
		left 0
		top 0
		font-size: 16px
		background: none
		border 1px solid $border-color
		color black
		font-weight: 700
//.history-card--open

.history-info
	//box-shadow 0 10px 15px rgba(0, 0, 0, 0.1)
	background-color #ffffff
	padding: 20px
	display: none
	br(10px)
	border-color $mark
.history-info--active
	display: block
//.history-card


.history-info__head
	+below(640px)
		margin-left: auto
		margin-right: auto
		max-width 320px
		font-size: 10px
		justify-content: center
	f()
	margin-bottom: 20px
.history-info__head-date
	margin-right: 15px
	font-weight: 700
.history-info__head-state
	color $mark
	font-weight: 700
.history-info__head-numb
	+below(640px)
		margin-left: 10px
	margin-left: auto
	color $gray
.history-info__list
	+below(640px)
		margin-bottom: 20px
	margin-bottom: 25px
.history-info__el
	+below(640px)
		fw()
		max-width 320px
		margin-left: auto
		margin-right: auto
		padding-bottom: 10px
		position: relative
	f()
	align-items: center
	margin-bottom: 10px
	padding-bottom: 20px
	border-bottom 1px solid $gray--light
.history-info__el-img
	+below(480px)
		size 55px
	size 40px
	round()
	bg-full()
	border 1px solid #cbbaac
	position: relative
	margin-right: 20px
.history-info__el-about
	+below(640px)
		width: 70%
	width: 50%
.history-info__el-title
	margin-bottom: 5px
.history-info__el-text
	opacity .6
	@extend .type--sm
.history-info__el-count
	+below(640px)
		margin-left:initial
		margin-top: 10px
		position: absolute
		size 20px
		background: white
		top -10px
		font-weight:700
		font-size: 10px
	round()
	size 40px
	border 1px solid $snow
	flex(mid)
	margin-left: auto
	margin-right: 10%
.history-info__el-price
	+below(640px)
		margin-top: 10px
	flex(mid)
	font-weight:600

.history-info-footer
	+below(640px)
		fw()
		justify-content: space-between
	f()
	padding-top: 20px
	margin-top: 20px
	border-top 1px solid $border-color
	align-items: center
.history-info-total
	+below(640px)
		width: 100%
		justify-content: space-between
	f()
	align-items: center
.history-info-total__text
	margin-right: 10px
	color $dark
	font-weight 700
.history-info-total__val
	color $mark
	@extend .type--xl
	font-weight: 700
	font-size: 24px
.history-info-get
	+below(640px)
		width: 100%
		margin: 20px 0
	margin-left: auto
	padding: 10px 20px
	flex(mid)
	cp()
	&:hover
		.icon
			transform rotate(360deg)
	.icon
		transition all .8s
		size 22px
		margin-right: 10px
		fill $mark
// history === end
// LK HISTORY === end

// bonus
.status-info
	f()
	justify-content space-between
	align-items: flex-start
	margin-bottom: 30px
	//grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
.status-info__el
	background: white
	width: 30%
	br(10px)
	overflow hidden
.status-info__el--mark
	.status-info__wrap
		color white
		background: $mark
.status-info__wrap
	padding: 20px
	f()
	fl()
	align-items center
	min-height 165px
//.type--main
.status-info__val
	@extend .type--xl
	font-weight:700
	margin: 10px 0

.status-info__footer
	text-align center
	background: white
	padding: 7px
	@extend .type--sm
	color $gray
.status
	br(20px)
	background: white
	padding: 20px
	margin-bottom: 30px
.status-head
	f()
	align-items: flex-end
	margin-bottom: 30px
.status-current
	margin-right: 20px
.status-current__text
	margin-bottom: 10px
.status-current__val
	font-weight:700
	@extend .type--md

.status-condition
	@extend .type--sm
	padding: 8px 30px
	br(30px)
	background: $gray-light
	margin-bottom: -5px
.status-row
	margin-left: -30px
.status-state
	flex(between)
.status-state__el
	flex(mid)
	fl()
	width: 100%
	margin-bottom: -8px
	z-index 10
.status-state__el-val
	padding: 8px 10px
	br(10px)
	margin-bottom: 5px
	@extend .type--sm
.status-state__el-val--empty
	border 1px solid black
.status-state__el-text
	@extend .type--sm
	margin-bottom: 5px
.status-state__el-pin
	background: $gray-light
	size 12px
	round()
.status-line
	height: 4px
	br(10px)
	background: $gray-light
	position relative
	width 84%
	margin: 0 auto
.status-line__val
	position absolute
	left 0
	top 0
	height: 100%
	background: $mark
.status-total
	text-align center
	@extend .type--sm
	margin-top: 20px
.status-state__el--active
	.status-state__el-pin
		background: $mark

// bonus === end

// location modal
.city-search
	f()
	margin-bottom: 20px
	align-items center
	.input
		border-radius 0
		border 0
		border-bottom 1px solid $border-color
		width: 100%
		padding-left: 0
.search__icon
	cp()
	&:hover
		fill $mark
	.icon
		size 28px
.city-popular
	f()
	fw()
	margin-bottom: 20px
.city-popular__el
	cp()
	tr()
	margin-right: 20px
	font-weight 700
	&:hover
		color $mark

.city-list
	+below(1024px)
		column-count 3
	+below(768px)
		column-count 2
	column-count 3
.city-wrap
	height: 250px
	position relative
.city-list-col
	f()
	margin-bottom: 10px
	align-items:flex-start

.city-list-letter
	+below(640px)
		margin-right: 10px
		size 20px
		font-size:14px
	color $mark
	margin-right: 30px
	@extend .type--md
	font-weight 700
//.city-list-list
.city-list-el
	+below(640px)
		font-size: 10px
	margin-bottom: 5px
	color $black
	display: block
	@extend .type--sm
	&:hover
		color $red
.city-list-el--active
	font-weight: 700
// location modal === end

// item mobile
.item-mobile
	+below(640px)
		fw()
	f()
	justify-content space-between
	align-items: flex-start
.item-mobile__img
	+below(640px)
		width: 100%
		padding: 45% 10%
		margin-bottom: 30px
	width: 33%
	bg-full()
	padding: 15% 10%
	position relative
	br(20px)
	.product-el--add
		left 10px
		right initial
.item-mobile__info
	+below(640px)
		width: 100%
		padding-right: 0
	width: 60%
.item-mobile__title
	+below(480px)
		font-size: 26px
	@extend .type--lg
	font-weight 700
	margin-bottom: 10px
.item-mobile__descr
	line-height: 1.6
	margin-bottom: 10px

.item-mobile-footer
	+below(640px)
		fw()
		.incr-btn--fix
			width: 100%
			margin-top: 20px
	f()
	align-items center
	margin: 20px 0
.item-mobile-price
	@extend .type--lg
	font-weight 700
	margin-right: 10px
.item-mobile-weight
	color $gray
	margin-right auto
// item mobile === end

// review modal
.get-rating
	f()
	align-items: center
	.icon
		cp()
	margin-bottom: 20px
.get-rating-text
	+below(640px)
		font-size: 13px
	margin-right: 20px
	font-weight: 700

.star-el--active
	.icon
		fill red!important

.star
	f()
	.icon
		size 20px
		cp()
		fill $border-color
.star-el
	margin-right: 5px
// review modal === end