@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.page
	f()
	fl()
	min-height 100vh

.page--dark
	.content
		background: #f8f8f8
	.header-wrap
		background: #393939
		color white
		a
			color white
			&:hover
				color $mark
	.header-nav__el--red
		&:hover
			color $carrot!important
	.header-top-wrap
		background: #2a2a2a
	.footer-wrap
		color white
		a
			color white
			&:hover
				color $mark
	.footer-top-wrap
		background: #393939
	.footer-main-wrap
		background: #2a2a2a
	.shrink
		box-shadow none
.content
	flex-grow 1
	padding: 30px 0 100px 0
.content--mid
	flex(mid)

// animate top menu
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0)
		visibility: visible;
	to
		transform: translate3d(0, 0, 0)

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 20
	bsh()
	.header-top-wrap
		display none
	.header
		padding: 10px 0
// animate top menu === end

// error
.page-error
	flex(mid)
	fl()
	height: 100%
.page-error__title
	@extend .type--xl
	margin-bottom: 30px
	font-weight: 700
	color $gray
.page-error__img
	margin-bottom: 30px
.page-error__text
	@extend .type--md
	color $gray
	margin-bottom: 30px
.page-error__get
	@extend .btn--md
	@extend .btn--mark
// error === end

// modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	transform scale(.9) translateZ(0) translate3d(0, 0, 0)
	will-change: transform, opacity;
	backface-visibility: hidden
	position: absolute
	opacity 0
	transition transform .6s, opacity .8s
	max-width 400px
	left -9999px
	top -9999px
	.order__row
		margin-bottom: 20px
		border-bottom 0

.modal-content
	+below(640px)
		height: 100%
		padding: 20px
		overflow-y scroll
		width: 95%!important
		margin: 20px auto
	background: white
	position: relative
	padding: 40px 45px
	br(40px)

.modal__show
	max-height 100%
	opacity 1
	transform scale(1) translateZ(0) translate3d(0, 0, 0)
	position: relative
	z-index 1000
	left initial
	top initial
	transition transform .6s, opacity .8s
	will-change: transform, opacity

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 20px
	right: 20px
	cp()
	size 50px
	br(20px)
	flex(mid)
	z-index 10
	background: #f8f8f8
	&:hover
		.icon
			opacity: 1
	.icon
		tr()
		size 12px
		fill black
		opacity:.3

.modal-hide-animation
	transform scale(.9)
	opacity 0
	transition transform .6s, opacity .8s
.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	text-align: center
	@extend .type--xl
	font-weight: 700

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto
	//width: 80%
	line-height: 1.6


.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%
// modal === end

// cookie
.cookie
	position: fixed
	bottom 20px
	left 0
	width: 100%
	transform translateY(10px)
	opacity: 0
	z-index -1
	tr()
.cookie--active
	z-index 20
	opacity: 1
	transform translateY(0)
.cookie-wrap
	bsh()
	padding: 15px 20px
	br(20px)
	z-index 10
	background: white
	f()
	justify-content: space-between
	.icon
		&:hover
			fill black
		tr()
		size 14px
		margin-left: 10px
		fill $gray
		cp()
.cookie-text
	width calc(100% - 30px)
	font-size: 12px
// cookie === end

// drop
.dropdown
	width: 100%
	display inline-block
	br(35px)
	tr()
	position relative
	border 1px solid $border-color
	outline none!important
	padding: 5px 30px
	height: 60px
	f()
	align-items center
.dropdown-current
	cursor pointer
	display block
	padding 10px
	padding-right 35px
	font-weight: 700
	.icon
		position absolute
		top calc(50% - 6px)
		right 25px
		size 12px
		tr()

.dropdown.active
	border-radius 35px 35px 0 0
	.icon
		transform rotate(180deg)

.dropdown-menu
	position absolute
	background-color #fff
	width calc(100% + 2px)
	left -1px
	top 100%
	margin-top -1px
	border-radius 0 0 10px 10px
	overflow hidden
	display none
	max-height 200px
	overflow-y auto
	z-index 10
	border 1px solid $border-color
.dropdown-menu__el
	padding 15px 35px
	cp()
	tr()
	border-bottom 1px solid $border-color
	//background: #f9f9f9
	&:last-child
		border 0
	&:hover
		background: $snow
		color black
// drop === end


.add
	flex(mid)
	border 1px solid $border-color
	round()
	.icon
		size 10px

.add--sm
	size 24px
	.icon
		size 10px

// slick
// === убираем выделения активности при клик ===
.slick-slide
	&:hover
		outline none!important
	&:active
		outline none!important
	&:focus
		outline none!important
// === убираем выделения активности при клике end ===
 
// === for custom navigation === 
.slider-wrap
	position relative
 
//Навигация снаружи
.slider-wrap--simple
	.slider-control
		round()
		flex(mid)
		tr(all)
		size 40px
		background: white
		position: absolute
		top 50%
		margin-top: -20px
		box-shadow 0px 2px 10px #c5c2c2
		z-index 10
		cp()
		&:hover
			background: $red
			.icon
				fill white
		.icon
			size 14px
	.slider-control--left
		left -20px
	.slider-control--right
		right -20px
//Навигация снаружи end
 
//Навигация внутри
.slider-wrap--inarrow
	.slider-control
		flex(mid)
		tr(all)
		cp()
		round()
		position: absolute
		top 50%
		margin-top: -25px
		z-index 10
		background: white
		opacity: .5
		size 50px
		&:hover
			opacity: 1
		.icon
			size 15px
	.slider-control--left
		left 30px
	.slider-control--right
		right 30px
	.slick-dots
		bottom 30px
//Навигация внутри
// === for custom navigation === 
 
//=== Внешний вид пагинации ===
.slick-dots
	+below(720px)
		bottom -20px
	width: 100%
	display: flex !important
	align-items: center
	justify-content: center
	bottom -50px
	li
		+below(720px)
			size 10px
			flex(mid)
	.dot
		+below(720px)
			flex(mid)
			size 6px
		background: white
		size 15px
		display: block
		opacity: .8
		round()
	.slick-active
		.dot
			opacity: 1
//=== Внешний вид пагинации end===
 

 
// === Для центрального вида ===
 
.slick-center
	transform: scale(1.2);
	box-shadow 0 18px 32px #a2b8c5
	opacity: 1 !important
 
.name-slider
	.slick-slide
		opacity: .8
	.slick-list
		padding: 100px 80px!important
	.slick-slide
		margin: 0 20px
 
// === Для центрального вида end ===
// slick === end


// main slider
.main-slider__el
	+below(768px)
		padding: 25% 10%
	display: block
	bg-full()
	padding: 16% 10%
	//height: 500px
	width: 100%

.main-slider__el--md
	+below(768px)
		display none
.main-slider__el--sm
	+above(769px)
		display none

.main-slider
	+below(768px)
		margin-bottom: 10px
	margin-bottom: 40px
// main slider === end

// header
//.header-wrap
.header-top-wrap
	background: $snow
//.main-cont
.header-top
	height: 50px
	f()
	align-items center
	justify-content space-between
	@extend .type--sm
.header-location
	f()
	align-items center
	.icon
		size 22px
		fill $mark
.header-work
	f()
	align-items center
.phone
	f()
	align-items center
	.icon
		size 20px
		fill $mark
	span
		font-weight: 700

.header-work__time
	color $gray
	margin-left: 10px
.nav-top
	flex(between)
	width: 30%
	margin: 0 10px
.nav-top__el
	&:hover
		color $mark

.auth
	margin: 0 10px
	cp()
	span
		tr()
	&:hover
		color $mark
.lang
	f()
.lang__el
	margin-left: 10px
	color $gray
.lang__el--active
	color black
.header
	flex(between)
	padding: 20px 0
//.logo
.header-nav
	flex(between)
	width: 54%
.header-nav__el
	font-weight: 700
	white-space nowrap
	&:hover
		color $mark
.header-nav__el--mark
	br(20px)
	padding: 8px 25px
.header-nav__el--green
	border 2px solid $mark
.header-nav__el--red
	border 2px solid $red
	&:hover
		color $red
.header-cart
	f()
	align-items center
	.icon
		fill $mark
		margin-right: 15px
		size 30px
.header-cart__cost
	font-weight 700
.header-cart__size
	size 50px
	background: $red
	color white
	flex(mid)
	round()
	margin-left: 10px
// header === end


.kind
	display: grid
	grid-gap 20px
	//grid-template-columns: repeat(, fr)
	grid-template-columns: repeat(auto-fill, minmax(14rem,1fr))
	margin-bottom: 30px
.kind__el
	position relative
	bg-full()
	padding: 50% 10%
	tr()
	br(28px)
	bsh-hover()
.kind__el-title
	position absolute
	bottom 0
	left 0
	padding: 20px 0
	width: 100%
	text-align center
	color white
	@extend .type--md
	font-weight 700

.kind-sm
	flex(mid)
	margin-bottom: 50px
.kind__sm-el
	@extend .btn--sm
	color white
	font-weight 700
	font-size: 20px
	bg-full()
	margin: 0 5px
	background-color: rgba(0, 0, 0, 0.7)
	position relative
	overflow hidden
	bsh-hover()
	span
		z-index 2
		position relative
	&:hover
		color white
		&:before
			content ''
			background: rgba(0, 0, 0, 0.4)
	&:before
		content ''
		position absolute
		tr()
		top 0
		left 0
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.49)


// PRODUCT
.product-descr
	text-align center
	margin: 30px auto
	@extend .type--sm
	max-width 640px
	line-height: 1.6

.product-filter
	margin: 10px auto
	max-width 768px
	flex(mid)
	fw()
	.btn--sm
		margin: 10px

.product-el
	br(25px)
	tr(all)
	overflow: hidden
	background-color #ffffff
	position: relative
	f()
	fl()

.product-el--sm
	.product-footer
		flex(mid)
		fl()
	.product-price
		width: 100%
		text-align: center
		margin-bottom: 20px
	.product-add
		width: initial
	.product__title
		text-align: center


.product__img
	flex(mid)
	img
		margin: 0 auto
		tr(all)
		width: 100%

.product__img--lg
	.product__img-el
		padding: 35% 10%
.product__cont
	f()
	fl()
	flex-grow 1
	padding: 20px 18px
.product__img-el
	tr(all)
	width: 100%
	height: 100%
	bg-full()
	background-size: cover
	padding: 50% 10%
	br(25px)
.product__title
	margin-bottom: 10px
	color $dark
	tr(all)
	@extend .type--md
	font-weight 700
	display: block
	&:hover
		color $mark

.product-box
	margin-bottom:auto

.product__text
	opacity .8
	line-height: 1.6
	tr()
	margin-bottom: 20px
	color $gray
	@extend .type--sm
.product-cont
	+below(1024px)
		grid-template-columns: repeat(3, 1fr)
		margin: 30px 0
		grid-gap 20px
	+below(640px)
		grid-template-columns: repeat(2, 1fr)
	+below(480px)
		grid-template-columns: 1fr
	//flex(between)
	margin-bottom: 50px
	display: grid
	grid-gap 40px
	grid-template-columns: repeat(4, 1fr)
	overflow: hidden
.product-cont--five
	+below(1024px)
		grid-template-columns: repeat(4, 1fr)
		margin: 30px 0
	+below(640px)
		grid-template-columns: repeat(3, 1fr)
	+below(480px)
		grid-template-columns: 1fr 1fr
	grid-template-columns: repeat(5, 1fr)

.product-cont--three
	grid-template-columns: repeat(auto-fill, minmax(20rem,1fr))
.product-footer
	flex(between)
	margin-top: 20px
.product-price
	+below(1200px)
		font-size: 14px
	+below(1024px)
		font-size: 24px
	+below(640px)
		font-weight: 700
	@extend .type--md
	background-color #ffffff
	font-weight 600
	white-space nowrap
.product-weight
	margin-right auto
	margin-left: 10px
	@extend .type--sm
	color $gray
	white-space nowrap

.product-add
	+below(768px)
		font-size: 12px
	cp()
	@extend .type--sm
	tr(all)
	width: 50%
	text-align: center
	@extend .btn--md
	@extend .btn--light
	padding: 5px 20px
	flex(mid)
	height: 40px
	white-space nowrap
	&:hover
		background: $mark

.product-el--add
	br(10px)
	padding: 5px 10px
	flex(mid)
	position absolute
	top: 10px
	right: 10px
	z-index 10
	background: $mark
	color white
	.icon
		margin-right: 3px
		size 16px
		fill white

.product-el--add-val
	font-weight: 700
	@extend .type--xs
	font-weight 700

// product slider
.product-slide
	position absolute
	top 0
	left 0
	width: 100%
	height: calc(100% - 60px)
	background: white
	z-index 25
	transform translateX(100%)
	tr()
.product-slide.active
	transform translateX(0)

.product-slide-wrap
	position relative
	padding: 60px 20px 20px 20px
	height: 100%

.product-slide__close
	position absolute
	size 60px
	top 0
	right: 0
	flex(mid)
	cp()
	tr()
	background-color $gray-light
	border-radius 0 25px 0 60px
	z-index 30
	&:hover
		background: $gray
	.icon
		size 12px
		margin-top: -5px
		margin-right: -10px

.product-slide__list
	.check-el
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
	.style-label
		align-items: flex-start
.product-slide__title
	text-align center
	@extend .type--md
	font-weight: 700
	margin-bottom: 20px
.product-slide__info
	width: 100%
	f()
	justify-content space-between
	align-items: flex-start
	@extend .type--sm
	font-weight 700
	.incr__val
		font-size: 16px
		padding: 0 10px

.product-slide__text
	text-align center
	@extend .type--sm
	margin-top: -10px
	margin-bottom: 20px
	color $gray

.product-slide__row
	padding: 10px 0
	border-top 1px solid $border-color
	border-bottom 1px solid $border-color
	margin-top: -1px
	.product-slide__info
		align-items center
		margin-top: 10px
// product slider === end

// PRODUCT === end

// size
.size
	display: grid
	grid-gap 0
	grid-template-columns: repeat(auto-fit, minmax(3rem,1fr))
	br(20px)
	border 1px solid $gray-light

.size--mark
	border 1px solid $mark
	.size__el--active
		background: $mark
		color white
	.size__el
		border-right 1px solid $mark
		&:last-child
			border 0

.size--lg
	br(30px)
	.size__el
		@extend .type--md
		padding: 20px 10px
		font-weight: 700
		&:first-child
			border-radius 30px 0 0 30px
		&:last-child
			border-radius 0 30px 30px 0

.size--column
	+below(640px)
		fw()
		.size__el
			width: 100%
			border-radius 30px!important

.size--sm
	display: inline-flex
	.size__el
		padding: 8px 20px


.size--fluid
	@extend .size--lg
	f()
	.size__el
		flex-grow 1
		font-weight: 700
		font-size: 14px

.size__el
	+below(480px)
		font-weight:700
	cp()
	tr()
	font-size: 14px
	padding: 10px
	text-align: center
	line-height: 1
	&:first-child
		border-radius 20px 0 0 20px
	&:last-child
		border-radius 0 20px 20px 0
	&:hover
		border-color $mark
.size__el--active
	background: $gray-light
// size === end

// sale-list
.sale-list
	display: grid
	grid-gap 30px
	grid-template-columns: repeat(auto-fill, minmax(25rem,1fr))
.sale-list__el
	f()

.sale-list__el-img
	bg-full()
	padding: 10%
	width: 35%
	margin-right: 20px
	br(20px)
.sale-list__el-info
	width calc(100% - 35% - 20px)
	padding: 20px 0 0 0
.sale-list__el-title
	@extend .type--md
	font-weight 700
	margin-bottom: 10px
	display inline-block
// sale-list === end

.icon-round
	size 44px
	flex(mid)
	round()
	tr()
	.icon
		tr()
		size 14px
.icon-round--mark
	border 2px solid $mark
	.icon
		fill $mark
	&:hover
		background: $mark
		.icon
			fill white

.section
	margin: 50px 0

.gallery
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(14rem,1fr))
.gallery__el
	padding: 35% 10%
	bg-full()
	br(5px)

.toggle-seo
	cp()
	.icon
		tr()
	.type--true
		display none
.toggle-seo.active
	span
		color $mark
	.icon
		tr()
		transform rotate(180deg)
	.type--true
		display block
	.type--false
		display none


// soc row
.soc-row
	f()
.soc-row__el
	round()
	flex(mid)
	tr(all)
	margin-right: 10px
	size 30px
	background: black
	&:hover
		background: $mark
	.icon
		size 14px
		fill white
.soc-row__el--red
	background: $red
// soc row === end
.footer-top-wrap
	background: $snow
.footer-top
	//padding: 20px 0
	f()
	align-items center
	justify-content space-between
	min-height 80px
//.footer-wrap
//.main-cont
//.footer-top
.footer-payment
	margin-right: 10px
.footer-info
	margin-right: 10px
.footer-info__title
	font-weight:700
	margin-bottom: 5px
.footer-info__text
	color $gray
	@extend .type--sm
.footer-map
	width: 20%
	tr()
	padding: 30px 35px
	color white
	text-align center
	position relative
	overflow hidden
	span
		position relative
		z-index 5
		color white!important
		font-weight: 700
	&:hover
		.footer-map__el
			transform scale(1.3)
.footer-map__el
	tr()
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	bg-full()
.footer-main-wrap
	background: $gray-light
.footer-main
	padding: 30px 0
.footer-nav
	flex(between)
	margin-bottom: 30px
.footer-nav__el
	@extend .type--sm
.footer-cont
	flex(between)
.footer-phone
	font-weight:700

//.footer-mail
//.footer-loc
//.icon
.create
	flex(mid)
	span
		@extend .type--sm
		display inline-block
		margin-right: 10px

.product-conf
	f()
	align-items center
	margin-bottom: 15px
.product-conf__el
	f()
	align-items center
	margin-right: 10px
	cp()
	.icon
		size 12px
		fill $mark
		margin-right: 5px
		tr()
	span
		tr()
		font-size: 14px
	&:hover
		span
			color $mark
		.icon
			transform rotate(180deg)

// bread
.bread
	+below(640px)
		display: none
	f()
	fw()
	padding: 20px 0
 
.bread__el
	margin-right: 15px
	margin-bottom: 10px
	position: relative
	@extend .type--sm
	&:after
		content '/'
		position: absolute
		right: -10px
		top 0
	&:last-child
		color $gray
		&:after
			content ''
			display: none
// bread === end

// structure
.structure
	+below(480px)
		grid-template-columns: repeat(2, 1fr)
	display: grid
	grid-gap 10px
	grid-template-columns: repeat(4, 1fr)
	margin-bottom: 10px
.structure-wrap
	max-width 400px
.structure__el
	padding: 10px 5px
	border 1px solid $border-color
	br(20px)
	flex(mid)
	fl()
.structure__el-name
	@extend .type--xs

.structure-text
	+below(480px)
		text-align center
	text-align: right
	@extend .type--xs
	margin-bottom: 30px
// structure === end

.item-wrap
	f()
	justify-content space-between
	align-items: flex-start
	margin-bottom: 50px
.item-col
	width: 45%
.item-img
	bg-full()
	padding: 50% 10%
	br(30px)
.item-info
	width calc(55% - 50px)
.item-descr
	margin-bottom: 10px
	line-height: 1.6
.item-size
	margin-bottom: 20px
.item-config-row
	margin-bottom: 30px
.item-prop
	br(10px)
	overflow hidden
	background: white
	margin-bottom: 10px
	padding-right: 20px
	f()
	cp()
	align-items center
	justify-content space-between
	&:last-child
		margin-bottom: 0
.item-prop__img
	width: 70px
	height: 60px
	bg-full()
	margin-right: 20px
.item-prop__title
	@extend .type--sm
	font-weight 700
	margin-right auto
.item-prop__cost
	@extend .type--sm
	font-weight 700
.item-prop__incr
	margin-right: 20px
.ingr-row
	f()
	align-items center
	justify-content space-between
	padding: 10px 0
	border-bottom 1px solid $border-color
	@extend .type--sm
	&:first-child
		padding-top: 0

.ingr-row--clear
	padding: 0
	margin-bottom: 15px
	border 0
	
.ingr-name
	width: 50%
.ingr-cost
	width: 10%
	color $gray
//.ingr-total
.item-total
	f()
	align-items center
	margin-bottom: 40px
	margin-top: 30px
.item-total-wrap
	margin-right: 30px
.item-total__info
	@extend .type--sm
	margin-bottom: 5px
.item-total__cond
	f()
	align-items: flex-end
.item-total__cost
	@extend .type--lg
	font-weight 700
	line-height: 1
	margin-right: 10px
//.item-total__weight
.item-get
	margin-right: 20px


// construct
.constr-wrap
	f()
	justify-content space-between
	align-items: flex-start
	margin-bottom: 50px
.constr-col
	width: 30%
.constr-img
	bg-full()
	padding: 16% 10%
	br(30px)
	margin-bottom: 20px
.constr-info
	width calc(70% - 80px)
.constr-descr
	margin-bottom: 30px
	line-height: 1.6
.constr-size
	margin-bottom: 20px
.constr-config-row
	margin-bottom: 30px

.constr-prop-wrap
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(8rem,1fr))
.constr-prop
	br(10px)
	cp()
	tr()
	overflow hidden
	background: white
	border 1px solid transparent
	&:last-child
		margin-bottom: 0
	&:hover
		border 1px solid $mark
.constr-prop.active
	border 1px solid $mark
	.constr-incr
		transform translateY(0%)
.constr-prop-cont
	padding: 20px 15px
	width: 100%
.constr-prop__img
	padding: 40% 40%
	bg-full()
	position relative
.constr-incr
	position absolute
	width: 100%
	height: 100%
	top 0
	left 0
	flex(mid)
	tr()
	background: #ffffffb5
	transform translateY(-100%)

.constr-prop__title
	@extend .type--sm
	font-weight 700
	margin-right auto
	width: 100%
	margin-bottom: 5px
.constr-prop__cost
	@extend .type--sm
	font-weight 700
.constr-prop__incr
	margin-right: 20px
// construct === end

.item-config-total
	padding-top: 20px
	border-top 1px solid $border-color
	flex(between)
	margin-bottom: 10px
.item-config-total__text
	@extend .type--md
	font-weight 700
.item-config-total__val
	@extend .type--lg
	font-weight 700

.item-config-get
	margin-bottom: 20px

.item-config-add
	f()
	align-items center
	.icon
		size 24px
		margin-right: 10px
		fill $mark
		tr()
		&:hover
			fill lighten($mark,10)
	span
		display inline-block
		@extend .type--sm
		width calc(100% - 20px)

.warning
	f()
	align-items center
	margin: 20px 0
	.icon
		size 28px
		margin-right: 20px
		fill $red
		tr()
		&:hover
			fill lighten($red,10)
	span
		color $red
		display inline-block
		font-size: 12px
		width calc(100% - 20px)