include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.info-banner(style="background-image:url('img/about.jpg')")
			.about-cont
				.title-row
					.arrow(onclick="window.history.go(-1); return false;")
						+icon("arrow-conner-left","icon")
					.title.title--lg О нашей компании
				.info-descr.text
					p Піцерія «Pronto Pizza» — для нас це не просто бізнес! Ми любимо справу, якою займаємось, живемо нею і щодня працюємо над тим, щоб робити вас, наших клієнтів, щасливішими.

					.title.title--md Ми добре знаємо наші сильні сторони і впевнені, що ви також їх оціните
					p «Pronto Pizza» використовує лише найсвіжіші та найсмачніші продукти. Це не просто рекламна фраза. Ми 1співпрацюємо з українськими виробниками і постачальниками, тому всі інгредієнти – овочі, сири, м’ясо є натуральними та екологічно чистими.

					p Друга перевага і показник репутації серед клієнтів – це наша доставка піци, вона ж служба порятунку від голоду, яка завжди напоготові – 24 години на добу, 7 днів на тиждень і є найшвидшою в Івано-Франківську.

					p Ми щодня даруємо вам безліч акцій та подарунків, адже любимо вас і хочемо ділитись найкращим, що в нас є – нашою піцою. Спробувавши нашу піцу один раз, ви повернетесь знову – так ми стаємо друзями з нашими клієнтами.

					.title.title--lg Контакты

					.contact-info
						.contact-info__map
							.map
								.map__el(style="background-image:url('img/map-full.jpg')")
						.contact-info__text
							p.type--bold Івано-Франківськ, вул. Чорновола, 107А
							p 8 050 123 45 56
					p Протягом 8-ми років ми з маленького “кіоска” стали сильним і відомим брендом у нашому рідному місті…і це лише початок. Ми знаємо, що рухаємось в правильному напрямку, про це свідчить число наших постійних клієнтів, яке постійно зростає. Вже більше 50 000 поціновувачів піци в Івано-Франківську обирають «Pronto Pizza»! Для нас це велика честь і велика відповідальність. Тому ми постійно працюємо над нашими сильними сторонами, а також над помилками, адже ніхто не ідеальний, проте ми таки прагнемо досконалості в своїй справі.
		.subscr-wrap
			.main-cont
				.about-cont
					.title.title--lg Оформіть підписку
					p Підпишіться на новини нашої піцерії, та першими дізнавайтесь про акції і отримуйте бонуси
					.input-cont.input-cont--two
						.input-row
							input(type="text" placeholder="Ваше имя" class="input")
						.input-row
							input(type="text" placeholder="Телефон" class="input")
					.subscr-conf
						.login-remember
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox").style-input
									.style-input-element
										+icon("checked","icon")
									.style-input-text Я ознакомился с #[a(href="#") политикой конфиденциальности], #[a(href="#") публичной офертой] и даю согласие на обработку моих персональных данных
						.btn--mark.btn--sm.btn--mobile Подписаться
		.main-cont
			.title.title--md Реквизиты
			.text-box-sm.text
				p ООО "Вилки-палки", <br>	ИНН 6321412575 / ОГРН 1166313111425, <br> Юридический адрес: 445040, РОССИЯ, ОБЛ. САМАРСКАЯ, Г. ТОЛЬЯТТИ, ПР-КТ СТЕПАНА РАЗИНА, 29, 66. <br> Сайт: vilkipalki.ru <br> Телефон: 8 800 555-59-16
	+footer()
include ./block_html/_script.pug
