include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.title.title--lg Корзина
			.order
				.order-cont
					.order-item
						.order__el-wrap
							- for (var i=0;i<5;i++)
								.order__el
									.order__el-info
										a(href="#" style="background-image:url('img/item-1.jpg')" ).order__img
										.order__name
											a(href="#").order__name-text Royal Club Тоник
											.order__adds 450 г
											.order__adds + гриби + пармезан
									.order__el-change
										.order__inc
											+incr(1,"incr--mark-light incr--mdx")
										.order__price 500 ₴
										.order__delete
											+icon("delete","icon")
						.title Рекомендуем к заказу
						.order-add.order-add--sm
							- for (var i=0;i<4;i++)
								+product-sm()
					.total
						.steps
							a(href="#").step__el.step__el--active
								.step__el-val 1
								.step__el-name Корзина
							.step-line
							a(href="#").step__el
								.step__el-val 2
								.step__el-name Оформление заказа
							.step-line
							a(href="#").step__el
								.step__el-val 3
								.step__el-name Заказ принят
						.total-title Мой заказ
						.total-row
							.total-row__type Сумма заказа
							.total-row__val 2 400 ₴
						.total-row
							.total-row__type Столовые приборы
							.total-row__val 50 ₴
						.total-row
							.total-row__type Доставка
							.total-row__val 250 ₴
						.total-cost
							.total-cost__text Итого
							.total-cost__val 2 650 ₴
						.total-get Оформить заказ

	+footer()
include ./block_html/_script.pug
