include block_html/_style.pug
include block_html/_include.pug

.page.page--dark
	+header("dark")
	.content
		.main-cont
			+bread()
			//pizza
			.title.title--xl.type--center Суши
			.product-filter
				-
					var items = [
						{name: "Ура маки", id: "#ura"},
						{name: "Футо маки", id: "#futo"},
						{name: "Нігірі", id: "#higi"},
						{name: "Набори суші", id: "#nabor"},
						{name: "Хосомакі", id: "#hoso"},
					];
				-

				each item in items
					a(href = item.id rel = 'm_PageScroll2id' ).btn--sm.btn--empty #{item.name}

			.title.title--xl.type--center#ura Ура маки
			.product-descr Роли загорнені в рис з листочком норі та начинкою в середині (8 штук)
			.product-cont
				- for (var i=0;i< 7;i++)
					+product("item-2.jpg")

			.title.title--xl.type--center#futo Футо маки
			.product-cont.product-cont--three
				- for (var i=0;i< 6;i++)
					+product("item-5.jpg","lg")

			.title.title--xl.type--center#higi Нігірі
			.product-descr Подовжені кульки рису з соусом, покриті шматочками риби. внутрішню частину риби ми змащуємо васабі, для більш насиченого смаку.
			.product-cont
				- for (var i=0;i< 7;i++)
					+product("item-2.jpg")

			// pizza === end
	+footer("dark")
include ./block_html/_script.pug
