include block_html/_style.pug
include block_html/_include.pug

.page.page--dark
	+header("dark")
	.content
		.main-cont
			+bread()
			.constr-wrap
				.constr-col
					.constr-img(style="background-image:url('img/constr.jpg')")
					.input-cont
						.input-row
							input(type="text" placeholder="Придумай название" class="input")
					// size
					.item-size
						.size.size--mark
							.size__el.size__el--active 15 см
							.size__el 30 см
							.size__el 45 см
					// size === end
					// item-config
					.item-config-row
						.title Ваша пицца содержит:
						- for (var i=0;i<6;i++)
							.ingr-row.ingr-row--clear
								.ingr-name Корнишоны <span class="type--gray">/ 75г</span>
								.ingr-cost x3
								.ingr-total 32 ₴
						.warning
							+icon("warning","icon")
							span Вы уже добавили максимально возможное количество ингредиентов к пицце.
					// item-config === end

					.item-config-total
						.item-config-total__text Итого
						.item-config-total__val 186 ₴
					.item-config-get.btn--md.btn--mark.btn--full Добавить в корзину
					a(href="#").item-config-add
						+icon("plus-round","icon")
						span сохранить в личном кабинете, но не добавлять в корзину

				// item info
				.constr-info
					.title.title--xl.title--clear Собери свою пиццу
					.constr-descr У пиццы должно быть до 5 любых ингредиентов, иначе она не пропечётся
					// item-config
					.constr-config-row
						.title Оберіть основу для піцци
						.constr-prop-wrap
							- for (var i=0;i<3;i++)
								.constr-prop
									.constr-prop__img(style="background-image:url('img/prop-9.jpg')")
									.constr-prop-cont
										.constr-prop__title Томатная <span class="type--gray">/ 75г</span>
										.constr-prop__cost 29 ₴
					//  === end

					// item-config
					-
						var items = [
							{"name":"М'ясо та риба","img":"prop-6","title":"Бекон"},
							{"name":"Овочі та фрукти","img":"prop-7","title":"Курка"},
							{"name":"Сири","img":"prop-8","title":"Кукурудза"},
							{"name":"Сири","img":"prop-11","title":"Сир Моцарелла"},
							{"name":"Бортик","img":"prop-12","title":"Сирний бортик"},
							];
					each item in items
						.constr-config-row
							.title #{item.name}
							.constr-prop-wrap
								- for (var i=0;i<8;i++)
									.constr-prop
										.constr-prop__img(style="background-image:url('img/"+item.img+".jpg')")
											.constr-incr
												+incr(1,"incr--mark incr--sm")
										.constr-prop-cont
											.constr-prop__title Бекон <span class="type--gray">/ 75г</span>
											.constr-prop__cost 20 ₴
					//  === end
				// item info === end


	+footer("dark")
include ./block_html/_script.pug
