include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.main-cont
				.title-row
					.arrow(onclick="window.history.go(-1); return false;")
						+icon("arrow-conner-left","icon")
					.title.title--lg Доставка и оплата
			.map
				.map__el(style="background-image:url('img/map-full.jpg')")
					//put map her
			.title.title--md Наши зоны доставки:
			.deliver-zone
				.deliver-zone__el
					.deliver-zone__head
						.deliver-zone__type
							svg(class="icon" style="fill:#4fb046")
								use(xlink:href="#play")
						span Зелена зона
						+icon("info","icon")
					.deliver-zone__info час доставки 29 мин мин. сумма заказа 200 грн доставка безкоштовна
				.deliver-zone__el
					.deliver-zone__head
						.deliver-zone__type
							svg(class="icon" style="fill:#efe3a2")
								use(xlink:href="#play")
						span Жовта зона
						+icon("info","icon")
					.deliver-zone__info час доставки до 59 мин мин. сумма заказа 200 грн доставка безкоштовна
				.deliver-zone__el
					.deliver-zone__head
						.deliver-zone__type
							svg(class="icon" style="fill:#ff3e3e")
								use(xlink:href="#play")
						span Червона зона
						+icon("info","icon")
					.deliver-zone__info час доставки від 59 мин доставка від 25 грн деталі у оператора
			
			.deliver-info
				.deliver-info__el Що ж відбудеться, якщо з якихось причин ми доставимо піцу пізніше, ніж зазначено у зеленій та жовтій зоні?
				.deliver-info__el Кур’єр пред’явить Вам сертифікат на піцу, яку доставлять Вам БЕЗКОШТОВНО уже при наступному замовленні. 
			.text
				.text
					h2 Оплата
					p Вы можете оплатить свой заказ банковской картой на сайте или наличными деньгами при получении, банковской картой при получении.

					p Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить Товар банковской картой Visa, MasterCard, Maestro и МИР. После подтверждения выбранного Товара откроется защищенное окно с платежной страницей процессингового центра CloudPayments, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.

					p Для оплаты заказа банковской картой на сайте необходимо выбрать пункт "Оплата онлайн". После успешной оплаты заказа данные о нем будут переданы нам для выполнения. В случае возникновения ошибки необходимо выбрать другой способ оплаты или связаться с оператором по телефону #[a(href="tel:8 495 123 45 67") 8 495 123 45 67].

					img(src="img/payment.svg", alt="")

					h3 Гарантии безопасности

					p Процессинговый центр CloudPayments защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности PCI DSS 3.2. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. CloudPayments не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.

					p В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться в службу поддержки клиентов платежного сервиса по электронной почте #[a(href="mailto:support@cloudpayments.ru") support@cloudpayments.ru].

					h3 Безопасность онлайн платежей

					p Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.

					p Мы рекомендуем вам проверить, что ваш браузер достаточно безопасен для проведения платежей онлайн, на специальной странице.

					p Безопасность обработки Интернет-платежей гарантирует ООО «КлаудПэйментс». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.

					h3 Возврат товаров

					p Аннулирование ранее оплаченного банковской картой онлайн заказа возможно при обращении в ресторан или через службу клиентской поддержки в соответствующем разделе сайта. После направления заявления об аннулировании заказа ранее списанная сумма будет возвращена на банковскую карту, с которой были списаны денежные средства, в порядке и на условиях банка-эмитента банковской карты пользователя.

					p В случае, если пользователь не забрал готовый и оплаченный онлайн банковской картой заказ из ресторана, компания аннулирует заказ, денежные средства за аннулированный заказ не возвращаются пользователю. Собранный и готовый к выдаче пользователю заказ хранится в ресторане не более 10 (Десять) минут.

					p Возврат товара возможент только если товар не надлежащего качества/вида при получении от клиента. До подтверждения и оплаты курьеру.

					p Если курьер не может дозвонится до клиента 10 минут то заказ аннулируется.

	+footer()
include ./block_html/_script.pug
