include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			+bread()
			.title.title--lg Публичная оферта
			.text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aspernatur commodi consequuntur dolor ducimus eaque eveniet facere ipsam iste nam, necessitatibus nulla perspiciatis quaerat quia quod soluta, tempora tempore. atibus nulla perspiciatis quaerat quia quod soluta, tempora tempore.atibus nulla perspiciatis quaerat quia quod soluta, tempora tempore.
				h3 Политика отношение пользователей
				p Ad consequatur dolorem in nesciunt pariatur quibusdam quisquam reiciendis totam unde vel? Consequuntur deleniti eos iusto magni obcaecati officiis porro quidem quo repudiandae temporibus. Ad culpa eos praesentium repudiandae sit ullam veniam?
				ul
					li Список 1
					li Список 2
					li Список 3
					li Список 4
					li Список 5
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi blanditiis cupiditate debitis enim eos ipsa iusto, maxime nam necessitatibus nemo nesciunt non, numquam omnis optio perspiciatis placeat provident quibusdam quos reiciendis reprehenderit repudiandae unde velit veritatis voluptas! Asperiores doloribus explicabo laboriosam minus neque omnis porro, possimus ratione vitae voluptatem. Dolore eos explicabo fugiat magni qui sequi sit vel voluptatibus.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi blanditiis cupiditate debitis enim eos ipsa iusto, maxime nam necessitatibus nemo nesciunt non, numquam omnis optio perspiciatis placeat provident quibusdam quos reiciendis reprehenderit repudiandae unde velit veritatis voluptas! Asperior
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi blanditiis cupiditate debitis enim eos ipsa iusto, maxime nam necessitatibus nemo nesciunt non, numquam omnis optio perspiciatis placeat provident quibusdam quos reiciendis reprehenderit repudiandae unde velit veritatis voluptas! Asperior

	+footer()
include ./block_html/_script.pug
