-
	pages = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог пицца',
			'href': 'catalog-pizza'
		},
		{
			'name': 'Каталог роллов',
			'href': 'catalog-roll'
		},
		{
			'name': 'Подробная пицца',
			'href': 'item-pizza'
		},
		{
			'name': 'Подробная роллы',
			'href': 'item-roll'
		},
		{
			'name': 'Конструктор',
			'href': 'construct'
		},
		{
			'name': 'Акции список',
			'href': 'sale-list'
		},
		{
			'name': 'Акции подробная',
			'href': 'sale-item'
		},
		{
			'name': 'Доставка',
			'href': 'deliver'
		},
		{
			'name': 'Отзывы',
			'href': 'review'
		},
		{
			'name': 'Кафе список',
			'href': 'cafe-list'
		},
		{
			'name': 'Кафе подробная',
			'href': 'cafe-item'
		},
		{
			'name': 'Новости список',
			'href': 'news-list'
		},
		{
			'name': 'Карьера',
			'href': 'staff'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Оферта',
			'href': 'offer'
		},
		{
			'name': 'Корзина',
			'href': 'basket'
		},
		{
			'name': 'Оформление заказа',
			'href': 'order'
		},
		{
			'name': 'Лк профиль',
			'href': 'lk-profile'
		},
		{
			'name': 'Лк история',
			'href': 'lk-history'
		},
		{
			'name': 'Лк мои пиццы',
			'href': 'lk-pizza'
		},
		{
			'name': 'Лк бонусы',
			'href': 'lk-bonus'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

-
	pagesDef = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог',
			'href': 'catalog'
		},
		{
			'name': 'Акции список',
			'href': 'sale-list'
		},
		{
			'name': 'Акция подробная',
			'href': 'sale-item'
		},
		{
			'name': 'Личный кабинет',
			'href': 'lk'
		},
		{
			'name': 'Корзина',
			'href': 'basket'
		},
		{
			'name': 'Оформление заказа',
			'href': 'order'
		},
		{
			'name': 'Доставка',
			'href': 'deliver'
		},
		{
			'name': 'Отзывы',
			'href': 'review'
		},
		{
			'name': 'Оферта',
			'href': 'offer'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

